[2014-11-14 20:18] warroyo opened #5 "partition not required in kafka 0.8"
in Kafka 0.8 when using zookeeper it is not required to specify a partition when consuming, do you have any plan for allowing this functionality?

[2014-11-17 18:22] warroyo opened #6 "error when not specifying the offset"
I am recieving the following error when not specifying the offset while consuming.

`Unexpected EOF while reading 4 bytes from stream (no data)`

this is in the following function:

[code]

I have also tried specifying an offset but no data seems to be returned from the topic. is there a specific option for the offset to return the latest data?

I believe that you can fetch the current offset from

[2015-03-26 15:47] arnaud-lb opened #8 "Saved offset points to the last consumed message"
When using the [sample consumer](https://github.com/nmred/kafka-php/blob/master/example/Consumer.php), the partition offset is saved when there is no more messages in the partition. However, after that, the last message of the partition is consumed again everytime the consumer is launched.

[2015-03-26 21:51] warroyo opened #9 "composer clear-compiled error"
I am gettign the below error after doing a composer update and then clear-compiled

Fatal error:  Class 'ZooKeeper' not found in /home/vagrant/laravel/praxis/vendor/nmred/kafka-php/src/Kafka/ZooKeeper.php on line 67

[2015-03-31 14:36] shades198 opened #10 ""Bus error (core dumped)" when trying to run Produce example"
I ran Produce.php in the example directory and it's dying after throwing "Bus error (core dumped)" message. Code that I have downloaded is unaltered except in ZooKeeper.php constructor where it was found to be Zookeeper instead of ZooKeeper so there was autoload error. I corrected it and now this error is coming

[2015-04-01 02:13] nmred commented on #10
hi

can you detailed description which error? I guess too many connections , but this lib library has  long connection

[2015-04-01 05:32] shades198 commented on #10
That's all the error that comes. Where can I find any additional debugging info?

[2015-04-01 06:09] nmred commented on #10
You can first test Zookeeper, ensure zookeeper can connect

[2015-04-01 06:21] shades198 commented on #10
Means? Test zookeeper client? Actually the problem lies there itself. In the constructor of zookeeper the script dies.
[code]

Above is the constructor of zookeeper found in src/kafka directory. String ">>>" is echoed out and then Bus error comes

[2015-04-01 06:35] nmred commented on #10
I think you zookeeper server has max connection limits,  Try run simply zookeeper client  script test it,
 first make sure your environment can be normal connection zookeeper
<?php
try {
     $zoo = new \Zookeeper($hostList);
} catch (Exception $e) {
     var_dump($e);
}

[2015-04-01 07:38] shades198 commented on #10
I appended above code in src/Kafka/ZooKeeper.php class. But it's giving me a fatal error 'Zookeeper not found'. So I corrected the name to ZooKeeper. But it's giving me the same error

[2015-04-01 07:57] nmred commented on #10
you sure installed zookeeper client extension?

run `php -m |grep zookeeper` have zookeeper?

[2015-04-01 08:03] shades198 commented on #10
But in the readme it was given that zookeeper client extension is required only in the case of zookeeper based consumer. I only want producer in php as our application is running on java at the backend

[2015-04-01 12:13] shades198 commented on #10
After installing zookeeper extension for php, error seems to have gone. My apology for posting a non-issue. However, I will request you to remove the line saying zookeeper extension is required for zookeeper based consumer. It might cause confusion. Thanks for help :)

[2015-04-01 12:13] #10 closed

[2015-04-01 12:21] nmred commented on #9
make sure install php zookeeper extends

[2015-04-18 03:48] #5 closed

[2015-04-18 03:48] #9 closed

[2015-04-18 03:50] nmred commented on #6
default read newest message

[2015-04-18 03:50] nmred commented on #8
have fixed

[2015-04-18 03:50] #8 closed

[2015-04-22 20:20] warroyo opened #12 "getting a zookeeper error when producing"
I am receiving the following error when producing to kafka using the zookeeper method. Is there a way to close the connection to zookeeper? I am making multiple call to the function below and it seems to be trying to hold the connections open.

            $rand = rand(0, 130);
            $producer = \Kafka\Produce::getInstance('zookeeper-host', 3000);
            $producer->setRequireAck(1);

[2015-04-27 11:07] bobrik opened #13 "Produce::getInstance() ignores arguments"
After first initialization arguments for `Produce::getInstance()` are silently ignored. This way you cannot use more than one kafka cluster. Is there a reason for this?

[code]

This way it is more flexible, users would cache `Producer` instance if they want to.

[2015-04-27 13:12] Timandes commented on #13
It's much better when running long-term CLI programmes.

[2015-04-27 13:34] nmred commented on #13
Yeah, can consider to cancel creating singleton restrictions.

[code]

but if only one kafka cluster using the default `Produce::getInstance() ` get Instance recommendation

[2015-04-27 13:51] nmred commented on #12
Hi

You can reference http://mail-archives.apache.org/mod_mbox/zookeeper-user/201205.mbox/%3CCANLc_9J4-cUb3LhPf94ZogYhOz9KhXko7jke4qaDDgL6uo=r=Q@mail.gmail.com%3E

[2015-04-28 15:33] Timandes commented on #12
Try C client in zookeeper-3.5.0alpha.

See:
    https://issues.apache.org/jira/browse/ZOOKEEPER-642

[2015-04-29 15:10] pushpesh4u opened #14 "Sending partitionId in setMessages"
The Produce::setMessages call requires a partitionId to be sent to which the message will be sent.

Shouldn't this be decided by the zookeeper rather than the producer to specify it.

Is there a way to list all partitions in a given topic.

Can we create topics/partitions.

[2015-04-30 00:25] Timandes commented on #14
By having a notion of parallelism—the partition—within the topics, Kafka is able to provide both ordering guarantees and load balancing over a pool of consumer processes. This is achieved by assigning the partitions in the topic to the consumers in the consumer group so that each partition is consumed by exactly one consumer in the group. By doing this we ensure that the consumer is the only reade

[2015-04-30 04:56] pushpesh4u commented on #14
Ok, is there a way to get all available partitions for a given topic. As of now, we are sending the messages to partitionid - 0.

[2015-04-30 05:27] Timandes commented on #14
Use @andreiz's php-zookeeper:

    get /brokers/topics/test
    {"version":1,"partitions":{"0":[0]}}

[2015-04-30 05:44] pushpesh4u commented on #14
I can do that, but the zookeeper's object is kept private when being initialised in `Produce::__construct`.

[code]
Creating another object would be overhead.

[2015-04-30 05:54] Timandes commented on #14
Ha, interesting.

See also: #13.

May be we could add new method `getAvailablePartitions()`. @nmred

[2015-05-04 14:35] pushpesh4u opened #15 "Ack'ing messages"
Hello,

How do I ack messages while consuming so that the server can remove them from the queue.

Also, is there a way to detect any errors while publishing the messages so that we can take actions, such as storing the message in a DB, when an error in publishing occurs.

[2015-05-04 14:44] Timandes commented on #15
From return value of `Produce::send()`?
Maybe the comments are not right.
It seems that `Produce::send()` returns an assoc-array.

[2015-05-04 14:49] pushpesh4u commented on #15
This is the response from `Produce::send()`

[code]

If I am sending in a batch, the response does not indicate if any of those messages failed, so that I can log that message to be processed later.

[2015-05-05 01:04] Timandes commented on #15
After i run this:

    <?php

    include_once 'bootstrap.php';

    $producer = \Kafka\Produce::getInstance('localhost:2181', 3000);

    $producer->setRequireAck(-1);
    $producer->setMessages('test', 0, array('foo001','foo002'));
    $r = $producer->send();
    var_dump($r);

I got response:

    array(1) {
      'test' =>
      array(1) {
        [0] =>
        array(2) {
          'errCode'

[2015-05-05 01:23] Timandes commented on #15
It seems that `Produce::send()` (line 221) will never be run.

[2015-05-06 01:09] nmred commented on #15
@pushpesh4u you can use `Produce:: setRequireAck()`  method set ack mode.

     * This field indicates how many acknowledgements the servers should receive
     * before responding to the request. If it is 0 the server will not send any
     * response (this is the only case where the server will not reply to a
     * request). If it is 1, the server will wait the data is written to the
     * loc

[2015-05-06 01:14] nmred commented on #15
@Timandes

What does it mean, can you  detailed description?  thanks.

[2015-05-06 01:52] nmred commented on #14
Add method `Produce::getAvailablePartitions($topicName)` use get all available partition

Add method `getClient()` get `Kafka\Client` object, also use this object method `getTopicDetail()` get partition

[2015-05-06 01:58] nmred commented on #13
Done!

[2015-05-06 03:30] Timandes commented on #15
@nmred

Sorry, i've not noticed the outer `foreach`.

But i think `array_merge` will destroy the structure of the `$responseData[$topicName]`.

Try this test code:

    <?php

    $info = array(
            0 => array(
                    'errCode' => 0,
                    'offset' => 7,
                ),
        );
    $topicName = 'test';

    $responseData[$topicName] = $info;

    $info[0]['

[2015-05-06 03:38] Timandes commented on #13
Z-AN, Zan!

[2015-05-07 01:56] nmred commented on #15
$info variable is assoc-array,  array key is current topic partition id, this id typeof int and unique, will not destroy the structure

[2015-05-08 10:07] shades198 opened #17 "Huge delay while sending the message from producer"
I was profiling producer code and found that `producer->send()` was taking more than 30 ms even on localhost! When I dug up a little I found that `$this->zookeeper->getPartitionState($topicName, $partitionId);` in src/Kafka/Client.php in function name `getHostByPartition`. This line of code was taking almost all of that time. The application I am working with cannot  accept a delay of 5-10 ms more

[2015-05-13 16:45] trickleup opened #18 "Consumer Groups"
Hi,

I'm trying to use this library to access the high level consumer api. I'm doing something like:

[code]

Then I create a topic with 5 partitions (1 replica), run two processes of the consumer, and then start producing some random messages to different partitions. All messages end up in both consumers. Since they use the same consumer group, I was expecting the messages (via their partitions)

[2015-05-14 00:51] Timandes commented on #18
I think you should give partition number even when consuming.

![A two server Kafka cluster hosting four partitions (P0-P3) with two consumer groups. Consumer group A has two consumer instances and group B has four.](http://kafka.apache.org/images/consumer-groups.png)

[Apache Kafka Documentation](http://kafka.apache.org/documentation.html)

[2015-05-15 02:05] Timandes opened #19 "How to handle exceptions when iterating?"
I wrote a small consumer program for testing:

[code]

After running about an hour, it crashed and output:

[code]

It seems that iterator threw the exception `SocketEOF`.

So my question is: when the same thing happens again, what should i do to keep my program safe and could re-fetch again.

(`try-catch`, then?)

[2015-05-31 09:47] slavash commented on #15
@nmred If I understand question correctly @pushpesh4u wants to remove consumed messages from the queue. So the question relates to offset API. I have same problem with consumer - the last message consumed in loop until new message sent to the topic.
  I didn't find the way to enable auto_commit... probably I have to sent offsetCommit manually? Can you clarify the issue please.

Consumer code:
[cod

[2015-07-07 23:16] jebentier opened #20 "Unwritable Stream in Producer"
I'm executing a long running producer job that is taking data from a database and putting it onto a Kafka topic for later processing.  Sporadically, this producer job will error out with the exception `Could not write 16353587 bytes to stream`.  I've looked into the code and tracked it down to the `Kafka\Socket` object's `write($buf)` function here:
[code]

The only information I can find about th

[2015-08-06 12:25] tolejarz opened #24 "fwrite randomly fails in Socket"
Hi,

I'm trying to send 30 000 messages to Kafka and sometimes fwrite fails with message:

    PHP Notice:  fwrite(): send of 8192 bytes failed with errno=11 Resource temporarily unavailable in /test/vendor/nmred/kafka-php/src/Kafka/Socket.php on line 296

It's just a Notice, loop continues until `$written` reaches `$buflen` and all is written. But this notice is ugly and should be correctly handl

[2015-08-07 01:53] nmred commented on #24
@tolejarz  errno=11 is  socket report EAGAIN error that  on nonblock pipes TCP buffer  fully, this error should continue write

[2015-08-21 03:04] pctin opened #26 "Fatal error: Class 'ZooKeeper' not found"
Hi,

I have problem when integrating with yii project, can you please check:
Fatal error: Class 'ZooKeeper' not found in:
\protected\vendors\kafka-php-master\src\Kafka\ZooKeeper.php on line 92

Here is the code:
        Yii::import('application.vendors.kafka-php-master.example.*');
        require_once 'autoloader.php';
        $produce = \Kafka\Produce::getInstance('localhost:2181', 3000);
	$prod

[2015-08-21 03:32] Timandes commented on #26
This project requires PHP Zookeeper Extension (https://github.com/andreiz/php-zookeeper).

[2015-08-21 04:11] pctin commented on #26
Thank you!

I have not thought that I have to install PHP Zookeeper Extension:
"The PHP Zookeeper extension is required if you want to use the Zookeeper-based consumer.
Productor can not dependency zookeeper"

[2015-08-21 04:47] Timandes commented on #26
Please close the issue then.

[2015-08-21 04:55] nmred commented on #26
@pctin  if you want use zookeeper extension you can refer to https://github.com/nmred/kafka-php/blob/master/example/ProduceWithoutZooKeeper.php

[2015-08-22 04:11] pctin commented on #26
That's so helpful, I got it, thank you, good guys!

I closed issue also.

[2015-08-22 04:11] #26 closed

[2015-09-01 15:33] Crim opened #27 "Not possible to alter send and recieve timeouts in \Kafka\Socket w/o forking code base"
So its not possible to configure the send and receive timeouts on the socket select call w/o forking the code base and modifying the defaults defined in that class.

[2015-09-01 15:34] Crim commented on #27
Submitted PR to make these options configurable from the client class, and accessible via Producer and Consumer classes

https://github.com/nmred/kafka-php/pull/28

[2015-09-01 17:29] Crim commented on #27
Additionally - On systems that have heavy write loads to Kafka with larger payloads, its possible to overrun the socket send buffer faster than it can get pushed out over the wire.  When this happens, the select() call in \Kafka\Socket::write() will return 0 showing that the stream is not available for writing (because the send buffer is full) and the code will throw a Kafka\Socket exception.

In

[2015-09-05 01:46] nmred commented on #27
Thanks @Crim

[2015-09-17 14:10] Surfoo opened #33 "Consumer example failed"
Hello,

I tried to execute example/Consumer.php, but the autoloader failed to include ZooKeeper.php:

    $ php Consumer.php
    PHP Fatal error:  Uncaught exception 'RuntimeException' with message 'ZooKeeper not found' in /tmp/kafka-php/example/autoloader.php:39
    Stack trace:
    #0 [internal function]: {closure}('ZooKeeper')
    #1 /tmp/kafka-php/src/Kafka/ZooKeeper.php(94): spl_autoload_call

[2015-09-18 01:39] Timandes commented on #33
See: #26

[2015-09-18 07:42] Surfoo commented on #33
thanks, it works!

[2015-09-18 07:42] #33 closed

[2015-09-19 22:30] #27 closed

[2015-09-28 15:02] wenjun1055 opened #34 "还不能用在正式环境？"

[2015-09-29 00:26] Crim opened #35 "Recent change broke Offset Protocol"
So the following line change: https://github.com/nmred/kafka-php/commit/12d4f2f4fc487e5629d5fd8dcdc5ff4329123427#diff-6a05497ce6c49eaedc44b9b2b7075c8eL69

Broke retrieving offsets from Kafka.  The response I get is:
array(1) { ["MyTopic"]=> array(1) { [0]=> array(3) { ["offset"]=> int(-1) ["metadata"]=> string(0) "" ["errCode"]=> int(768) } } }

Reverting that line and I can correctly retrieve off

[2015-09-29 00:26] Crim commented on #35
@AlexKR --^

[2015-09-29 09:45] AlexKR commented on #35
@Crim thanks for issue. looking very strangely, i will try investigate more about it and will commit correct way for error detecting

[2015-09-29 19:35] Crim commented on #35
For reference this is running on a x64 machine against kafka 0.8.2.1.  Also I didn't test the other code path that has the same change, so not sure if that has issues or not.

[2015-09-30 02:31] Crim commented on #35
So I took a stab at this.  Looking at PHP Docs for pack here: http://php.net/manual/en/function.pack.php

We were using 'n' to unpack this which says: unsigned short (always 16 bit, big endian byte order)
It got swapped to 's' which says: signed short (always 16 bit, machine byte order)

I'm guessing that your system @AlexKR is big endian, where as mine is little endian, which is why I assume this

[2015-10-03 21:17] Crim commented on #34
这个已经在我们的正式环境用了六个月。 没有问题。我们传送数据利用这个。
http://imgur.com/a/OoTx6

[2015-10-05 17:03] euskadi31 opened #38 "This request is for a topic or partition that does not exist on this broker."
Kafka Version: 0.8

[code]

Output:

[code]

[2015-10-08 09:09] smallwalk opened #39 "set old offset"
file:Kafka\Protocol\Fetch\Helper\CommitOffset on line 114

$offsetObject->setOffset($offset); //wrong

$offsetObject->setOffset($offset + 1); //correct

[2015-10-12 06:45] smallwalk commented on #15
@slavash  I met the same problem.

file:Kafka\Protocol\Fetch\Helper\CommitOffset on line 114

$offsetObject->setOffset($offset); //wrong

$offsetObject->setOffset($offset + 1); //correct

[2015-10-16 02:58] GOOD21 commented on #39
我也遇到了这个问题，始终多取了一条出来，但是这个bug这么明显，感觉不像bug。。。

[2015-10-20 12:50] #35 closed

[2015-10-22 06:05] smallwalk commented on #39
@GOOD21  同感

[2015-10-30 07:44] appasahebs opened #40 "How to add number of partition to a topic in Kafka?"
How to add number of partition to a topic in Kafka using this code. I tried with meta function but its not working for me

[2015-11-01 09:49] w3hacker commented on #34
holyhigh

[2015-11-05 10:35] davidsheldon commented on #17
Can you use the new non-Zookeeper producer? Pass the Kafka broker(s) as the last parameter of the constructor, rather than the Zookeeper hosts as the first.

e.g. `$this->producer = new Produce(null, null, $kafkaBrokers);`

[2015-11-05 10:45] davidsheldon commented on #20
I suspect it's timing out on the write - maybe your OS buffer is full.

Try increasing the timeouts, e.g. `$producer->setStreamOptions(['RecvTimeoutSec' => 10, 'SendTimeoutSec' => 10]);`

[2015-11-05 11:37] Crim commented on #20
Yeah this is the issue I ran into which made me submit the PR to expose those socket/stream options.  Adjusting those helped mitigate it to some degree for me....  what helped more was retrying the write a few times before giving up.  Typically on the first retry it would succeed.  I don't fully understand why this would work where just adjusting the socket timeout to 2x the previous value didn't.

[2015-11-07 14:41] #39 closed

[2015-11-13 02:49] git-hulk commented on #18
hi @Timandes, why have to assign partition when consuming, while i saw registerConsumer function in  `ZooKeeper.php`.

[2015-11-21 13:48] reedy opened #52 "Cleanup fully qualified names"
This would be a biggish change, so want to ask before I do it...

Would you be alright if I tidied up the various fully qualified class names to swap them for imports etc?

Not bothered either way, just wanted to ask before making a relatively big change :)

[2015-11-22 02:57] nmred commented on #52
No problem

[2015-12-02 12:07] nmred commented on #24
Fixed !

[2015-12-03 15:00] Crim opened #54 "Cut version 1.5?"
39 commits to master since 1.4 was released.  Any plans to cut a new release?

[2015-12-14 11:29] kwn commented on #54
+1

[2015-12-14 12:28] nmred commented on #54
Already tag v0.1.5

[2015-12-14 12:28] #54 closed

[2015-12-14 16:25] kwn commented on #54
Sweet :+1:

[2016-01-05 08:39] luxixing commented on #34
请问此客户端支持 kafka_2.11-0.9.0.0 吗
kafka_2.11-0.9.0.0 现在是最新发布版本
谢谢

[2016-01-05 08:41] luxixing opened #55 "kafka_2.11-0.9.0.0 支持"
Hi，我们这边的kafka_版本信息如下

zookeeper-3.4.6
PHP 5.5.25 (cli) (built: May 20 2015 07:30:18)

请问此扩展现在支持么
谢谢

[2016-01-05 08:46] nmred commented on #34
@luxixing 对于broker0.9.x 版本生产者api是兼容的，消费者目前没有测试过。。

[2016-01-05 08:59] luxixing commented on #34
@nmred  我们这边正好是消费者
由其他部门生产数据，PHP 去消费者数据
如果我们用这个扩展，怎么去测试消费者是否兼容0.9？
或者您有没有计划直接支持0.9呀

[2016-01-05 09:04] nmred commented on #34
@luxixing 消费者的协议0.9和0.8 不太一样，如果支持0.9需要重新实现，目前还没有时间更新，有时间的话会支持的，你暂且可以测试用0.8协议来读取

[2016-01-05 09:06] luxixing commented on #34
@nmred  好的，期待早日支持

[2016-01-07 10:20] mayurtakawale88 opened #56 "Unable to create topic and partition using library"
Hello,

is their any way to create topic and partition using this library?

[2016-01-07 11:38] avinash6784 commented on #19
I am also facing same above issue. Could you please let me know any solution for same.

[2016-01-08 06:01] Crim opened #57 "Cached broker list causes issues when a broker drops in/out of a cluster"
Using the [Zookeeper metadata](https://github.com/nmred/kafka-php/blob/master/src/Kafka/ZooKeeper.php), the topic partition metadata is *not* cached, but [Client.php](https://github.com/nmred/kafka-php/blob/master/src/Kafka/Client.php#L158) *does* cache the broker list.

So now imagine the following scenario:
You have a 3 node cluster, replica factor of 3.  You bring down one node in the cluster.

[2016-01-08 06:07] Crim commented on #57
Take a look at PR https://github.com/nmred/kafka-php/pull/58 I believe it solves this issue by adding a [refreshMetadata](https://github.com/Crim/kafka-php/blob/sp/RefreshMetadata/src/Kafka/ClusterMetaData.php#L57) method on the ClusterMetaData interface.

In [Client.php](https://github.com/Crim/kafka-php/blob/sp/RefreshMetadata/src/Kafka/Client.php#L148) I've removed caching the broker list.  I'v

[2016-01-12 16:00] Crim opened #59 "Server side disconnect can cause library to go into infinite loop when producing"
So I've noticed this after upgrading to Kafka 0.9.0.0, but I believe this problem exists with 0.8.x brokers if the server closes the clients connection.

Kafka 0.9.0.0 introduces a new configuration property on the broker called connections.max.idle.ms defined as: Idle connections timeout: the server socket processor threads close the connections that idle more than this.  By default the timeout i

[2016-01-12 16:02] Crim commented on #59
Possible solution in https://github.com/nmred/kafka-php/pull/60

Anyone have any other possible solutions?

[2016-01-20 10:57] lnparker commented on #18
hi @Timandes , i agree with @git-hulk, there is no need to specify the partition num when consuming. The consuming progress should be able to consumue from multiple partitions. Please check.

[2016-02-06 00:39] vchampion opened #61 "Fetching and consuming"
Please explain what is advantages and disadvantages of consuming against fetching. The first uses Zookeeper, the last connects to Kafka directly. In which cases what should I use?

[2016-02-08 11:10] appasahebs opened #62 "Multiple instances of consumer processing same messages."
I am using this kafka client and its working for me properly for single instance of consumer. If I am running 2 - 3 instances of same consumer with respective to the group name all instances processing same messages. But I am expecting processed(committed) messages should not consume by other consumer if group name is same.

Consumer.php
1 Topic  - test
3 Partitions - 0,1.2
Group name - testgroup

[2016-02-11 16:39] appasahebs commented on #18
But its not working in my case as well, same messages are on both consumers with that respect to the group. Did it worked for you? @git-hulk and @lnparker

[2016-02-15 17:03] wsdfbb2004 commented on #19
I think there maybe something wrong with the "commit offset".

[2016-02-23 02:39] thrieu commented on #19
I think it is better to set the offset manually, or else it is difficult to control the execution flow.

[2016-02-23 07:51] thrieu opened #63 "异常处理将位移回滚该怎么做才最好？"
如下，$messageSet 循环完毕后会自动更新位移，我想在 $messageSet 循环完毕后将 $rows 写到文件里，但万一文件写入失败，想做异常处理将位移回滚该怎么做才是最好的实践？

[code]

[2016-02-25 07:29] git-hulk commented on #59
Php offer php_stream_eof to check whether local socket is alive by using system call poll. It would work well at this condition.

[2016-03-25 10:46] #6 closed

[2016-03-25 10:47] #12 closed

[2016-03-25 10:48] #14 closed

[2016-03-25 10:48] #13 closed

[2016-03-25 10:50] #15 closed

[2016-03-25 10:50] #17 closed

[2016-03-26 00:12] nmred commented on #55
@luxixing  当前版本对于生产者API是支持 v0.9.x 的，消费者API正在开发

[2016-03-26 00:12] #55 closed

[2016-03-26 00:13] #34 closed

[2016-03-26 00:15] #24 closed

[2016-03-26 01:05] #52 closed

[2016-03-26 02:18] nmred commented on #57
Already merged, Thanks @Crim

[2016-03-26 02:18] #57 closed

[2016-03-26 02:30] #59 closed

[2016-03-26 02:38] nmred commented on #20
Fixed!

[2016-03-26 02:38] #20 closed

[2016-03-26 02:49] nmred commented on #40
@appasahebs  not support add partition to a topic

[2016-03-26 02:49] #40 closed

[2016-03-26 02:50] nmred commented on #56
this library not support create topic and modify partition

[2016-03-26 02:50] #56 closed

[2016-04-14 02:46] wj5346599 opened #65 "update partition offset for myself"
I want update the offset with partition,but how to know the offset and how to calculate the current offset in the consumer's loop,it's my code:

<pre><code>$consumer = \Kafka\Consumer::getInstance('localhost:2181');
$consumer->setGroup('testgroup');
$consumer->setPartition('aatest-1', 0);
$consumer->setPartition('aatest-1', 1);
$consumer->setPartition('aatest-1', 2);
//$consumer->setTopic('aatest-

[2016-04-14 02:49] wj5346599 commented on #63
和你一样的困惑，offset如何计算比较合理？

[2016-04-14 02:57] nmred commented on #63
函数getHighOffset返回当前分区最大的offset值，getMessageOffset返回当前消息消费的最大值

[2016-04-14 03:04] wj5346599 commented on #63
你好，我最高是4，也就是getHighOffset=4，当前offset是2，为什么getMessageOffset总是3？

[2016-05-02 05:17] kuldeep-k opened #66 "Getting Timed out reading socket error for kafka cluster setup"
I want to setup a kafka cluster type setup for three similar application having same queues like AppA -> {TopicX, TopicY, TopicZ},  AppB -> {TopicX, TopicZ}, AppC -> {TopicX, TopicY}. Producer and Consumer will be App specific.
I setup kafka cluster with three brokers having partition 1,2,3 in three different config files with different ports. Then start kafka server ( cluster )

So I used Produce

[2016-05-03 09:06] nmred commented on #66
You can use

[code]

[2016-05-03 09:07] #66 closed

[2016-05-18 11:53] kuldeep-k commented on #66
Sorry for late response, Same error comes even after using stream options.

[2016-05-23 09:09] kuldeep-k commented on #66
I got solution for my issue, I need to code change like http://stackoverflow.com/questions/36975459/getting-timed-out-reading-socket-error-for-kafka-cluster-setup/37350027#37350027. Initializing Consumer once and then Set partition, then start wait thread.

[2016-05-23 10:01] lalitktechfour commented on #15
Not able to install zookeper class in local window..
Produce working fine but not able to consume in php...

Getting error:
 Uncaught exception 'RuntimeException' with message 'ZooKeeper not found' in C:\xampp\htdocs\kafka\code\autoloader.php:38 Stack trace: #0 [internal function]: {closure}('ZooKeeper') #1 C:\xampp\htdocs\kafka\src\Kafka\ZooKeeper.php(103): spl_autoload_call('ZooKeeper') #2 C:\xa

[2016-05-23 10:47] nmred commented on #15
@lalitktechfour  consume must use zookeeper ext support

[2016-05-23 10:51] lalitktechfour commented on #15
So how can i install zookeeper ext in window (xampp) ?

[2016-05-24 04:18] lalitktechfour opened #67 "Problem in install zookeeper extension in windows(Xampp)"
Hello,
     I am not able to get zookeeper class in php....Please suggest. How can i get zookeeper ext...

I got error messeage: Uncaught exception 'RuntimeException' with message 'ZooKeeper not found' in C:\xampp\htdocs\kafka\code\autoloader.php:38 Stack trace: #0 [internal function]: {closure}('ZooKeeper') #1 C:\xampp\htdocs\kafka\src\Kafka\ZooKeeper.php(103): spl_autoload_call('ZooKeeper') #2 C

[2016-05-24 11:42] Crim commented on #67
You can get the zookeeper extension via pecl: https://pecl.php.net/package/zookeeper

[2016-05-26 03:51] Timandes commented on #15
@lalitktechfour There is no Windows version for `php-zookeeper` ...

[2016-05-26 13:38] lalitktechfour opened #68 "How to consume only new message from kafka"
Hello,
     I am not able to understand to how i consume only new message from kafka topic.. Please suggest:

I m using code as given below

$consumer = \Kafka\Consumer::getInstance('localhost:2181');
$group = 'updation';
$consumer->setGroup($group);
$consumer->setFromOffset(false);
//$consumer->setPartition('recom_page', 0);
$consumer->setTopic('updation',0);
$consumer->setMaxBytes(102400);
$resu

[2016-05-31 07:59] thrieu opened #69 "堆积消息太多了怎么办？"
`Kafka\Exception\SocketEOF: Could not read 4294967295 bytes from
stream, length too longer.`

堆积消息太多。看过 Kafka broker/consumer 的 message 相关的 maxSize 配置，值都不大的，这里却一次性读取这么大，该怎么解决呢？

[2016-08-17 16:56] Preete opened #75 "Failed with (php_network_getaddresses: getaddrinfo failed: Name or service not known [0])"
The code failed to produce records with (php_network_getaddresses: getaddrinfo failed: Name or service not known [0]) error. I am providing the kafka host list as 127.0.0.1:9092.

[2016-09-12 09:39] xiaowei1118 opened #76 "Does it support kafka 0.9?"
hi,
  I want to know  wether it supports kafka 0.9 or not?

[2016-09-12 13:42] nmred commented on #76
Producer support 0.9

[2016-09-15 20:20] Crim opened #77 "Cut a new release?"
Hey is it possible to cut a new release?  1.5 is from December 2015.

Thanks!
Stephen

[2016-09-27 12:09] pcejrowski opened #78 "Support for KeyedMessages"
Hi,
I don't know how to create KeyedMessage to be sent to Kafka.
Could you please provide an example or just say whether it is possible.
Regards.

[2016-09-27 13:09] Crim commented on #78
This library currently does not support message keys.

https://github.com/nmred/kafka-php/blob/master/src/Kafka/Protocol/Encoder.php#L355-L356

[2016-11-08 09:20] lovevivi opened #79 "时光渐变，日夜替换"
汝乃天骄，何不上云霄。

[2016-11-08 09:42] jippi commented on #79
english please?

[2016-11-08 10:18] dpp2009 commented on #79
he say，You are the great man, why don't you get into the sky.

[2016-11-14 07:45] lovevivi commented on #79
my english is not good

[2016-12-05 09:35] dsphper commented on #79
碉堡了啊！

[2016-12-08 07:53] yuebin1009 opened #80 "Unexpected EOF while reading 4 bytes from stream (no data)"
my service
kafka 0.10.1.0 address http://archive.apache.org/dist/kafka/0.10.1.0/
php 5.3.21

[2016-12-15 14:02] Chenimal commented on #80
Having the same issue. It happens when finishing consuming one partition and starting next one.

@yuebin1009 找到解决方法了么?

[2017-01-06 04:02] jaylu163 opened #81 "Could not read 4 bytes from stream (not readable)"
Exception of type Kafka\Exception\SocketEOF
occurred with Message: Could not read 4 bytes from stream (not readable)

???? ... what's happen?

[2017-01-24 11:27] maosong opened #82 "Does it support kafka 0.10?"
hi,
I want to know wether it supports kafka 0.10 or not?

[2017-01-26 06:27] ayoob-faraji commented on #68
Hello
I think you must set true for offset , I mean  " $consumer->setFromOffset(true);" or you can omit this line in your code ( $consumer->setFromOffset(false) ) because The default value for offset is true and you do not need to set true for offset

[2017-03-09 08:17] fanyijie opened #84 "how many messages can be handled with one process through one topic"
just like the title

[2017-03-17 09:31] plmkz520 commented on #79
马德智障，2333

[2017-03-21 11:58] #79 closed

[2017-04-06 07:20] helww opened #85 "Two problems"
Hi,  nmred:
I am using your php kafka extension, Here is my question:
1, How to fetch only one message when consumer is running?
2, How to know that Message exists or not in the topic partition?

[2017-04-06 10:33] nmred commented on #85
1. Not support fetch only one message, Can you talk about your specific needs?
2. You can reference example code https://github.com/weiboad/kafka-php/blob/master/example/Consumer.php#L24-L29

example:

[code]

[2017-04-06 15:27] helww commented on #85
First, consumer always start from last offset.
Now queue is just like [100, 101, 102, ...], and No. 100 is the last offset.
If function fetch() takes [100, 101, 102], last offset is changed to 103.
Luckily consumer is running very well, and that's ok. But Sometimes consumer has a long flow, and An error has occurred in one flow.
And processing message is nothing(dropped down or redo), and the cons

[2017-04-07 01:32] nmred commented on #85
By setting consumer maxbytes restrict fetch message, You can estimate the message size.

[code]

[2017-04-07 13:39] phm3 opened #86 "Close connection"
I am working with 2 clusters, and I am having issues with closing connections to A in order to use B cluster.

[2017-04-07 14:35] nmred commented on #86
Can you describe it in detail?

[2017-04-09 10:04] no1youknowz opened #87 "Cannot connect to any kafka brokers"
Hi,

Using the example without zookeeper.

	$hostList = '192.168.85.181:2181';

	$produce = \Kafka\Produce::getInstance(null, null, $hostList);
	// get available partitions
	$partitions = $produce->getAvailablePartitions('MyFirstTopic1');
	var_dump($partitions);
	// send message
	$produce->setRequireAck(-1);
	$produce->setMessages('test', 0, array('test11111110099090'));
	$produce->setMessages('te

[2017-04-09 10:19] no1youknowz commented on #87
I downgraded to 0.9.0.1.

	[root@localhost kafka_2.11-0.9.0.1]# [2017-03-27 06:49:59,685] INFO Accepted socket connection from /192.168.85.185:56506 (org.apache.zookeeper.server.NIOServerCnxnFactory)
	[2017-03-27 06:49:59,693] WARN Exception causing close of session 0x0 due to java.io.IOException: Unreasonable length = 74737011 (org.apache.zookeeper.server.NIOServerCnxn)
	[2017-03-27 06:49:59,693]

[2017-04-09 10:35] no1youknowz commented on #87
Following the instructions from here:

    http://stackoverflow.com/a/27194583

and instead of using 0.0.0.0, I am using the IP of the server.

I'm now getting:

	array(1) { [0]=> int(0) } array(1) { ["test"]=> array(1) { [0]=> array(2) { ["errCode"]=> int(0) ["offset"]=> int(0) } } }

[2017-04-09 12:51] nmred commented on #87
Hi, @no1youknowz

Please refer https://github.com/weiboad/kafka-php/blob/master/example/ProduceWithoutZooKeeper.php

[code]

[2017-04-09 13:01] no1youknowz commented on #87
I'm doing exactly that!

I'm now going to compile the ZooKeeper php extension and then test with 0.10.2.0.

Before I close the ticket.

[2017-04-09 14:55] no1youknowz commented on #87
So with 0.9.x seems to work fine.

With 0.10.2.0 I am getting:

	Type: Kafka\Exception\SocketEOF

	Message: Unexpected EOF while reading 4 bytes from stream (no data)

	Filename: /mnt/hgfs/Share/development/ecomzilladev/application/vendor/nmred/kafka-php/src/Kafka/Socket.php

	Line Number: 286

There are 3 outstanding tickets the same issue!

https://github.com/weiboad/kafka-php/issues/6
https://g

[2017-04-09 14:58] #87 closed

[2017-04-09 15:04] #76 closed

[2017-04-09 15:06] #68 closed

[2017-04-09 15:06] #67 closed

[2017-04-10 08:55] phm3 commented on #86
In before route (using fatfree framework) I call cluster A, and produce message. Other class S should call another cluster B and produce message there. And it seems every time, I hit topic/partition is not found, because it always referrers to cluster A.

Class S extends controller with before route.

[2017-04-10 09:06] nmred commented on #86
@phm3

You can use two produce instance, cluster A corresponding Instance A, cluster B corresponding Instance B, Or you can derict use  \Kafka\Protocol\Encoder and \Kafka\Protocol\Decoder send produce request, example can refer :https://github.com/weiboad/kafka-php/blob/master/example/SimpleProduce.php

[2017-04-10 09:07] nmred commented on #86
If use \Kafka\Protocol\Encoder and \Kafka\Protocol\Decoder you need maintenance connect self

[2017-04-10 09:13] phm3 commented on #86
Thank you, I haven't tested yet \Kafka\Protocol\Decoder (Encoder)

[2017-04-10 09:20] nmred commented on #86
I recomend you use tow instance solve this issue, because use  \Kafka\Protocol\Decoder (Encoder) method need you get kafka metadata mapping partion and broker, use \Kafka\Produce simply

[2017-04-10 11:24] phm3 commented on #86
The issue can be closed, I suspect it is a problem of the framework I use.

[2017-04-10 13:08] #86 closed

[2017-04-17 07:03] #85 closed

[2017-04-17 07:05] nmred commented on #82
Hi

produce is support, consumer not support offset commit to kafka, this feature is support v0.16 release

[2017-04-17 07:05] #82 closed

[2017-04-17 07:06] nmred commented on #77
@Crim

Yeah, I will dev new version to support newer protocol

[2017-04-17 07:06] #77 closed

[2017-04-20 05:25] muyline opened #88 "Why the ZooKeeper Class Construct function has new ZooKeeper"
I found the file src\Kafka\ZooKeeper.php,in the contruct function,the code is
`public function __construct($hostList, $timeout = null)
    {
        if (!is_null($timeout) && is_numeric($timeout)) {
            $this->zookeeper = new \ZooKeeper($hostList, null, $timeout);
        } else {
            $this->zookeeper = new \ZooKeeper($hostList);
        }
    }`
the \ZooKeeper is not exist。

[2017-04-20 05:28] nmred commented on #88
\ZooKeeper is php extension `zookeeper` class, if you use \Kafka\ZooKeeper need you install zookeeper.so in your php env

[2017-04-20 06:20] #88 closed

[2017-04-25 03:35] jaylu163 opened #89 "v0.1.6 client get stream is not free"
`
public function __construct($hostList, $timeout = null){

       if (!is_null($timeout) && is_numeric($timeout)) {
            $this->zookeeper = new \ZooKeeper($hostList, null, $timeout);
        } else {
            $this->zookeeper = new \ZooKeeper($hostList);
        }
}
`

这个不是一个单例。导致 kafka会有很多个链接数

是不是可以改为：

`
public function __construct($hostList, $timeout = null) {
        if (!is_null($

[2017-04-25 04:15] nmred commented on #89
kafka produce and consumer is single instance , could you describe in detail how you used it?

[2017-04-25 04:38] nmred commented on #89
class `Kafka\Zookeeper` is not single instance, Current version only used kafka consumer, but \Kafka\Consumer is single instance, so `Kafka\Zookeeper`  not need single instance

[2017-04-28 04:39] nmred opened #90 "Merge v0.2.0-dev to master"

[2017-04-28 07:18] #90 closed

[2017-04-28 07:19] nmred commented on #18
Hi, @trickleup

You can try using the new version， v0.2.0 has support auto consumer group rebalance

[2017-04-28 07:19] #18 closed

[2017-04-28 07:20] nmred commented on #19
@Timandes

You can try using the new version.

[2017-04-28 07:20] #19 closed

[2017-04-28 07:20] nmred commented on #38
@euskadi31
You can try using the new version.

[2017-04-28 07:20] #38 closed

[2017-04-28 07:21] nmred commented on #61
You can try using the new version.

[2017-04-28 07:21] #61 closed

[2017-04-28 07:21] nmred commented on #62
@appasahebs

You can try using the new version.

[2017-04-28 07:21] #62 closed

[2017-04-28 07:22] nmred commented on #63
这个在新版已经解决，可以试一下 v0.2.0版本

[2017-04-28 07:22] #63 closed

[2017-04-28 07:22] nmred commented on #65
@wj5346599

You can try using the new version.

[2017-04-28 07:22] #65 closed

[2017-04-28 07:23] nmred commented on #84
Can you describe it in detail?

[2017-04-28 07:24] nmred commented on #75
You can check your dns configure

[2017-04-28 07:24] #75 closed

[2017-04-28 07:25] nmred commented on #78
You can try using the new version. v0.2.0 hash support send key -> value

[2017-04-28 07:25] #78 closed

[2017-04-28 07:26] nmred commented on #80
@yuebin1009
@Chenimal

You can try using the new version.

[2017-04-28 07:26] #80 closed

[2017-04-28 07:26] nmred commented on #81
You can try using the new version.

[2017-04-28 07:26] #81 closed

[2017-04-28 07:26] nmred commented on #69
You can try using the new version.

[2017-04-28 07:26] #69 closed

[2017-04-28 08:47] nmred opened #92 "Add administrative API"
Add administrative kafka consumer group api

[2017-04-28 08:48] nmred opened #93 "Add configure param check and configure document"

[2017-04-29 04:37] lingdi2000 opened #94 "composer 安装失败"
运行  php composer.phar install
提示：
 Problem 1
    - The requested package nmred/kafka-php 0.2.* is satisfiable by nmred/kafka-php[v0.2.0-beta] but these conflict with your requirements or minimum-stability.

新手，没用过composer 这个问题该怎么解决呢

[2017-04-30 16:29] suchasplus commented on #94
Your minimum-stability by default is stable so yes nmred/kafka-php is not allowed to be installed as dev-master by that minimum-stability, either you require it with "@dev" as requirement, or you change the minimum-stability to dev.

[2017-04-30 16:29] #94 closed

[2017-05-03 01:42] KomaBeyond opened #95 "请问下作者，你这个Kafka解析协议是从哪里知道的？"
就像我标题那样，比如说像你一样要写一个这种项目的话，首先得知道Kafka的数据存储协议，这样读出来才能解析或者通过Socket和它交互，请问你一下，这个协议你是从哪里看到的，可以给个链接么？

另外好几天了看github的 trending，看到你这个项目，我想先看看协议然后明白的话准备深入学习下你这个项目。

[2017-05-03 01:50] nmred commented on #95
@KomaBeyond

You can reference kafka wiki:

https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol
http://kafka.apache.org/protocol.html#protocol_preliminaries

[2017-05-03 01:50] #95 closed

[2017-05-03 09:15] jaylu163 commented on #89
$consumer->setGroup($group);
            $consumer->setTopic($topic);
           // $consumer->setMaxBytes(102400);
            $result = $consumer->fetch();

           path : src/kafka/Consumer.php

         this is  fetch method
        public function fetch()
       {
        $data = $this->_formatPayload();
        if (empty($data)) {
            return false;
        }

        $streams = ar

[2017-05-03 09:17] jaylu163 commented on #89
I can how to do ,please  guide.... thanks

[2017-05-03 09:46] nmred commented on #89
You code is not already this line, this line will free connect
https://github.com/weiboad/kafka-php/blob/v0.1.6/src/Kafka/Consumer.php#L262

[2017-05-05 08:11] #93 closed

[2017-05-05 08:12] #89 closed

[2017-05-05 10:09] #92 closed

[2017-05-09 13:11] romaco1 opened #96 "SSL Connection"
How to configure Producer to use SSL connection?

[2017-05-10 03:36] dsewnr opened #97 "Class 'Kafka\Exception\SocketConnect' not found"
version 0.2.x

[2017-05-10 03:53] nmred commented on #96
The next version(v0.2.1) supports SSL connections

[2017-05-10 03:57] nmred commented on #97
Has fixed, you can use v0.2.0.1

[2017-05-10 03:57] #97 closed

[2017-05-10 07:23] airanvinay opened #98 "Kafka with zookeeper : Zookeeper::exists(): error: invalid zhandle state"
I am using kafka with zookeeper, getting exception like ": Zookeeper::exists(): error: invalid zhandle state"

Please help how to handle this exception in kafka library.

Please refer issue related to zookeeper here : : https://github.com/andreiz/php-zookeeper/issues/80#issuecomment-300394942

[2017-05-10 07:27] nmred commented on #98
@airanvinay Please provide used kafka-php version

[2017-05-10 08:32] romaco1 commented on #96
Please add doc or example how to use SSL.

[2017-05-25 03:14] kdlan opened #99 "持续发送消息时会丢失并且报 Uncaught LogicException: Cannot stop(); event reactor not currently active"
[code]

输出

[code]

运行大概6~7次之后就会进入到 error 里面，errorCode=1000，kafka 里检查过消息是没有发出去，最后再抛出上面的异常

[2017-05-25 03:15] kdlan commented on #99
环境  php 7.0.13
MAC OS和 ubuntu 14.04下都能复现
kafka 0.8.2.2

[2017-05-25 04:22] kdlan commented on #99
初步 debug 下来应该是某一次请求响应比较慢超过了`sleep(1)`的等待时间，然后下一次请求正常发出，执行了 `Amp\stop()`，这个时候上次的请求收到响应，再次调用 `Amp\stop()` 导致的

尝试把 [这里](https://github.com/weiboad/kafka-php/blob/master/src/Kafka/Producer/Process.php#L116)  修改成 `\Amp\cancel($watcherId);` 之后就能够正常发送了

对 amphp 不是很熟悉，不知道这样的修复是否正常，另外也发现 [这里](https://github.com/weiboad/kafka-php/blob/master/src/Kafka/Producer/State.php#L97) 的 watcher 数量会持续增加，有可能存在内存溢出的风险

[2017-06-05 03:24] nmred commented on #99
@kdlan  我明白你的意思了，你是想持续的置到后台发送消息，这个你直接把 $config->setIsAsyn(false);
改为 true 就可以，php-kafka 会自动挂起，不用 while(1){sleep}操作

[2017-06-05 03:50] nmred commented on #99
试一下，example 中的 Producer ,吧async参数修改一下， 你这样调用用法不对

[2017-06-05 05:30] nmred commented on #99
@kdlan  对于目前你这种是用方式，满足不了需求，你提交的PR 也会出问题，因为 \Amp 是全局静态的，并且如果再while 中执行 sleep 会影响 amp 时间调度

目前临时解决办法：采用 0.1.6 版本 producer ，这个版本完全是同步
下一版我再把 旧版本的 producer 整理到 0.2.0

[2017-06-05 08:47] harry0603 opened #101 "mutli brokers run"
I want to use mutli brokers run , but I have a question? my code:

[code]
kafka-dev-135 is Leader , kafka-dev-136 is Replica
My question is When Broker is kafka-dev-135 can Produce message, but kafka-dev-136 can't Produce message, error code is 1000.

kafka-dev-135 result:
[code]
kafka-dev-136 result:
[code]

Please help me. Thx.

[2017-06-06 06:02] harry0603 commented on #101
我找原因了~~主要是我 kafka 的 server.properties 跟 zookeeper.properties 沒設定好,我重新設定就可以正常運行了

[2017-06-06 06:02] #101 closed

[2017-06-09 07:31] lilihua opened #102 "帮忙看下这个错误的原因吧"
PHP Notice:  Undefined variable: memberId in /var/www/html/dl-test.kmapp.cn/vendor/nmred/kafka-php/src/Kafka/Consumer/Process.php on line 357
PHP Notice:  Undefined offset: 1 in /var/www/html/dl-test.kmapp.cn/vendor/nmred/kafka-php/src/Kafka/Consumer/Assignment.php on line 130
PHP Fatal error:  Uncaught exception 'Kafka\Exception\Protocol' with message 'given data invalid. `assignments` is undefin

[2017-06-10 03:00] lvzhihuisyn opened #103 "加载不了命名空间 PHP Fatal error: Class 'Monolog\Logger' not found"

[2017-06-10 03:29] lvzhihuisyn commented on #103
权限问题

[2017-06-14 02:37] harry0603 opened #104 "multi consumers run for one topic and one group has error"
topic : testTopic
groupId : testTopicGroup

I want to run multi consumers , but have a kafka error.
errorCode:27
The group is rebalancing, so a rejoin is needed.

My two consumer run error as follows:
[code]

[code]

Please help me thank you.

[2017-06-14 11:30] kdlan commented on #99
使用0.1.6能够满足需求

[2017-06-14 11:30] #99 closed

[2017-06-15 09:54] harry0603 commented on #104
I try to except notice , can work
[code]

[2017-06-20 08:47] zhongjq opened #105 "直接执行consumer.php的代码报错"
PHP Fatal error:  Uncaught Kafka\Exception\Protocol: given data invalid. `assignments` is undefined. in /vagrant/settlement/vendor/nmred/kafka-php/src/Kafka/Protocol/SyncGroup.php:                                                         128
Stack trace:
#0 [internal function]: Kafka\Protocol\SyncGroup->encodeGroupAssignment(Array)
#1 /vagrant/settlement/vendor/nmred/kafka-php/src/Kafka/Protocol/Pr

[2017-06-20 09:40] #103 closed

[2017-06-20 09:42] #105 closed

[2017-06-21 04:03] qianbaidu opened #106 "where $content"
demo code
[code]
but where  `$context`
error :
Warning: Missing argument 2 for {closure}()  on line 31

delete `$context` return errorCode 1000

[2017-06-24 03:55] #104 closed

[2017-06-26 06:42] nmred opened #107 "Kafka consumer add max_bytes config params"

[2017-06-26 07:39] zhongjq commented on #105
topic 要是存在的

[2017-06-28 06:54] niqingyang opened #108 "希望增加创建主题的接口"
在生产消息的时候如果主题不存在可以返回主题不存在的错误代码，支持创建主题的接口

[2017-06-28 09:33] liufang opened #109 "调试不够友好"
php, kafka不在同一台服务器的时候， 如果kafka监听服务器配置错误比方配置成（localhost）,
php端无法正常工作， 也没有任何错误抛出， 新手入门调试比较麻烦。

[2017-06-28 09:34] a5420bc commented on #105
当一个topic只有一个分区时,使用system函数同时开启php进程消费该topic,出现以上日志报错。当有时间间隔开启时,两个进程消费的数据相同。

[2017-06-28 09:45] a5420bc opened #110 "使用多进程消费同一个topic报错"
PHP Fatal error: Uncaught Kafka\Exception\Protocol: given data invalid. assignments is undefined. in /vagrant/settlement/vendor/nmred/kafka-php/src/Kafka/Protocol/SyncGroup.php: 128
Stack trace:
#0 [internal function]: Kafka\Protocol\SyncGroup->encodeGroupAssignment(Array)
#1 /vagrant/settlement/vendor/nmred/kafka-php/src/Kafka/Protocol/Protocol.php(538): call_user_func(Array, Array)
#2 /vagrant/s

[2017-06-30 02:20] liufang opened #111 "积压消息过多，内存超出大小程序退出无法启动"
当kafka积压了大量消息的时候，客户端消费获取消息过多， 导致内存超出限制程序退出， 并且无法启动正常工作。

[2017-06-30 09:24] jefflili opened #112 "启动consumer脚本，开启第二个时候，报大量的错"
6-20 13:59:16"PHP Notice:  Undefined index: context in /root/Jeff/kafka/vendor/nmred/kafka-php/src/Kafka/Consumer/State.php on line 182
PHP Stack trace:
PHP   1. {main}() /root/Jeff/kafka/consumer.php:0
PHP   2. Kafka\Consumer->start() /root/Jeff/kafka/consumer.php:69
PHP   3. Amp\run() /root/Jeff/kafka/vendor/nmred/kafka-php/src/Kafka/Consumer.php:77
PHP   4. Amp\NativeReactor->run() /root/Jeff/k

[2017-06-30 09:27] jefflili commented on #112
我这边的配置是13个分区，版本号：0.10.1.1

[2017-07-01 13:19] yljphp commented on #106
`me too!`

[2017-07-03 01:29] nmred opened #113 "Add synchronous producer api"
rt

[2017-07-03 06:33] nmred commented on #111
是 example的consumer可以复现吗？

[2017-07-03 08:04] nmred commented on #112
#104  You can try new version client

[2017-07-03 08:04] #112 closed

[2017-07-03 09:44] #113 closed

[2017-07-03 09:45] #107 closed

[2017-07-03 09:49] #106 closed

[2017-07-03 09:56] nmred commented on #111
试着更新到 0.2.0.5

增加 maxBytes 参数的控制：

[code]

把这个参数设置小点试试

[2017-07-03 09:56] nmred commented on #110
v0.2.0.5 已修复

[2017-07-03 09:56] #110 closed

[2017-07-04 03:52] yangpans opened #114 "Kafka\Producer\Process::send() 方法未定义？"
运行程序的时候报这个错
Fatal error: Call to undefined method Kafka\Producer\Process::send() in /work/ztjy_stat/vendor/nmred/kafka-php/src/Kafka/Producer.php

是代码不完整造成的吗？

[2017-07-05 04:48] #114 closed

[2017-07-05 06:44] kyozhou commented on #99
同样的问题，不过0.1也有bug，会使实际运行时间增加几百毫秒（虽然打印microtime测试时很快）

[2017-07-05 06:59] nmred commented on #99
@kyozhou 试着使用最新版本的同步方式发送消息

[2017-07-06 08:13] nmred opened #115 "Add kafka broker version api"
rt

[2017-07-06 08:15] nmred commented on #102
@lilihua you can use newr version, this issue has fixed

[2017-07-08 16:31] yangzhyo opened #117 "Success callback上可以加上消息参数吗？"
异步模式下，success callback上可以加上消息参数吗？这样我们可以在消息成功发送后，更新消息数据源的状态，避免数据重复被发送。

[2017-07-17 02:05] zplzpl commented on #102
Undefined variable: memberId
"nmred/kafka-php": "0.2.*"

[2017-07-17 02:08] zplzpl commented on #102
#0 /vendor/nmred/kafka-php/src/Kafka/Consumer/Process.php(357): yii\base\ErrorHandler->handleError(8, 'Undefined varia...', '/data/www/...', 357, Array)
#1 /vendor/nmred/kafka-php/src/Kafka/Consumer/Process.php(185): Kafka\Consumer\Process->failSyncGroup(27)

[2017-07-17 02:10] zplzpl commented on #102
public function failSyncGroup($errorCode)
    {
        $error = sprintf('Sync group fail, need rejoin, errorCode %d, memberId: %s', $errorCode, $memberId);
        $this->error($error);
        $this->stateConvert($errorCode);
    }

[2017-07-17 02:54] nmred commented on #102
@zplzpl  提供一下kafka server 版本信息

[2017-07-17 03:04] zplzpl commented on #102
我觉得跟KAFKA版本没有关系，

public function failSyncGroup($errorCode)
{
    $error = sprintf('Sync group fail, need rejoin, errorCode %d, memberId: %s', $errorCode, $memberId);
    $this->error($error);
    $this->stateConvert($errorCode);
}

这个方法中的memberId 没有定义就调用了。应该改成如下就可以了吧：

    public function failSyncGroup($errorCode)
    {
        $assign = \Kafka\Consumer\Assignment::getInstance();
        $memberI

[2017-07-17 05:57] nmred commented on #102
@zplzpl 这块确实存在调用未定义变量的问题，但是不是的这个问题的根本原因，你详细提供一下你的kafkabroker 版本和你代码中 setBrokerVersion 版本，我才好定位问题。。。。。

[2017-07-17 05:57] #102 closed

[2017-07-17 06:01] zplzpl commented on #102
"0.10.2.0"

感谢你的认真啊

[2017-07-17 06:06] nmred commented on #102
报的 error Code 是 27 ，代表正在 rebalance , 应该是吧这个notice错误修复了就可以消费成功，我修复一下这个notice, 感谢

[2017-07-19 16:23] BigBlueBut opened #118 "consumer读取message进行gzdecode之后，仍然携带乱码"
用example里面的Consumer.php进行读取Kafka, (Kafka里的消息是json格式的单行字符串，flume端producer进行gzip的compression) , 拿到message之后进行gzdecode之后在结果之前仍然携带一小段的乱码。不清楚需要怎么处理

拿到的message是
`URK��0
      M{�B��J�G�z�鲋�YR#�e�r&A���=G/�3���S2�'��陻ݿ��ǯx��n���B��W�L����:�:����A��#(�=�&L(x�5�*�Gt
                                                                                                �
/�L��?0���q�TnÀ�xF��Hͬ����8�x	��OG

[2017-07-20 07:20] nmred opened #119 "优化 brokerlist 获取方式"
第一次通过配置同步，后续通过缓存的broker list 同步

[2017-08-04 01:55] lhuiseu opened #120 "consumer stop接口未提供"
目前consumer仅仅是提供了start方法，无法stop

[2017-08-08 11:21] php-cpm opened #121 "1.x版本的消费端如何能再kafka端实现长链接"
1.x版本的消费端采用的是stream_set_blocking 阻塞模式，执行一次拿到数据立即返回

现在想要监控消费端是否掉线，然后就发现php的消费端始终不在线，但还在消费数据

把stream_set_blocking设置为非阻塞模式并通过死循环读数据是否可行？

作者现在维护的2.X好像是不支持0.8的kafka的消费了，我在我们的生产环境用2.x的consumer example读不出数据

[2017-08-17 17:09] vikarndaaff opened #122 "Can i create new topic kafka with this library ?"
i do not find how to create new topic, it's possible with this library ?

[2017-08-21 08:04] nmred commented on #118
提供一下你consumer中 setVersion 的版本号和你 kafka Broker 版本号

[2017-08-21 08:04] #111 closed

[2017-08-21 08:10] nmred opened #123 "Consumer message repeat"
1. current consumer callback process time more than session timeout
2. after rejoin group consumer offset is invalid

[2017-08-21 08:10] #123 closed

[2017-08-23 03:16] chenjf2017 opened #124 "希望支持snappy压缩和解压缩"
希望支持snappy压缩和解压缩，求助！！！

[2017-09-18 03:36] txl1290 opened #125 "0.9.0.0版本kafka环境下producer"

[2017-09-29 12:11] gr1ev0us opened #126 "Missing class \Kafka\Exception\Socket"
Class Kafka\SocketSync contains missing class reference on \Kafka\Exception\Socket.

[2017-09-29 12:23] gr1ev0us commented on #126
PR #127

[2017-10-10 08:12] #126 closed

[2017-10-11 07:28] noname007 opened #129 "如何手动 commit offset?"
@

[2017-10-11 08:22] noname007 opened #130 "运行一段时间kafka消费者常驻进程 cpu使用率就是100%了。"
rt,怎么跟踪调试一下。

[2017-10-11 08:43] haijiao1945 commented on #130
我也遇到了同样的问题 我的kafka部署在内网 我试了下 把内网VPN断开 我运行的8个消费进程就同时开始占满CPU 不知道有没有什么解决方案?

[2017-10-16 08:16] noname007 commented on #129
@nmred 有空增加一下这个功能吗？增加一个选项，是自动应答提交，还是手动提交应答，表示，获取信息成功了。

[2017-10-16 10:29] noname007 commented on #130
@nmred 作者有什么方式推荐解决吗？

[2017-10-16 12:47] noname007 commented on #130
[code]

[2017-10-16 12:49] noname007 commented on #130
strace 追踪道问题了，一大推的，sigpipe ，截取出来的，其中一段

[2017-10-27 07:27] magic-m-johnson opened #134 "SASL Compatibility"
Does this client support SASL and SASL_SSL security protocols?

If so, can you add an example in the documentation?

[2017-10-27 09:43] thienit5 opened #135 "Unexpected EOF while reading 4 bytes from stream (no data)"
$config = \Kafka\ProducerConfig::getInstance();
$config->setMetadataRefreshIntervalMs(10000);
$config->setMetadataBrokerList('host:port');
$config->setRequiredAck(1);
$config->setIsAsyn(false);
$config->setProduceInterval(500);
$config->setBrokerVersion('0.11.0.0');
$producer = new \Kafka\Producer();
$producer->setLogger($logger);

When I run a while I push error: Unexpected EOF while reading 4 by

[2017-10-30 05:57] hellovivi opened #136 "请问合并了autocommit相关的分支什么时候正式发布到package上面？"
求问前几天发布的那个autocommit相关的改动什么时候会发布到 package上呢

[2017-10-30 07:06] #136 closed

[2017-10-30 07:06] #130 closed

[2017-10-30 07:06] #129 closed

[2017-11-01 04:02] dongm2ez opened #137 "如何连接阿里云的MQ"
支持云计算吗，好像没找到

[2017-11-08 08:12] Reasno commented on #137
related to #96

[2017-11-08 08:16] Reasno commented on #134
#96

[2017-11-08 10:37] boedy opened #138 "Offset store"
The documentation mentions an `offset store`. How does the consumer store the offset? Is it stored locally or on the broker?

How do I start the consumer from the last know offset?

[2017-11-08 11:23] yuqiandoudou commented on #99
你好，我现在也遇到了同样的问题，版本为v0.2.0.7，谢谢！

[2017-11-14 10:24] lcobucci opened #139 "Library improvements"
Great job with the library, I tested it yesterday and got quite impressed with the results! We'll start using this lib on a project and they're some modernisations and design decisions that we'd like to propose that will make it even better.

My ideias are (for now):

- [ ] require PHP 7.1+ so that we can rely on proper type declaration and simplify the code
- [ ] upgrade PHPUnit
- [ ] add perform

[2017-11-15 01:35] nmred commented on #139
Hi, @lcobucci

Thanks for your advice，this Advice is very good, but my energy is limited, I'm afraid a short time can not be completed, but I welcome any help, to work together to improve this library

[2017-11-15 01:42] nmred commented on #138
Offset currently stored in broker, consumer last offset you can get it  through message-> offset

[2017-11-15 01:52] nmred commented on #135
@thienit5  you can try set broker version property 0.10.0

[code]

[2017-11-15 11:05] lcobucci commented on #139
@nmred don't worry my idea is to send PR, I just wanted to check upfront because some items might lead to big changes to the library and I wasn't sure that you're open for this kind of contribution =)

[2017-11-23 16:13] #138 closed

[2017-11-23 16:31] boedy opened #140 "Consumer skips offset after restart / rejoins group"
While experimenting with this library I noticed that the first message is lost when rejoining the group. Is this a bug?

**Expected behaviour / flow**
[code]

**Actual behaviour / flow**
[code]

**The code**

Consumer
[code]

Producer
[code]

[2017-11-24 02:48] tongsq commented on #140
Maybe i have meet the same question.
a easy way to fix is modify /src/Consumer/Process.php in line 557
$offsets[$topic['topicName']][$part['partition']] = $part['offset']; ==> $offsets[$topic['topicName']][$part['partition']] = $part['offset'] - 1;

[2017-11-30 01:47] nmred commented on #140
Already merge pr @tongsq

[2017-11-30 01:47] #140 closed

[2017-11-30 01:53] nmred commented on #139
@lcobucci It is possible to be compatible when any change. And I will welcome to submit this kind of PR

[2017-11-30 16:08] lcobucci commented on #139
@nmred awesome I'm a bit overwhelmed with maintaining @doctrine stuff now but I'll do this ASAP

[2017-12-04 05:19] nmred opened #145 "Upgrade amp version to 2.0.3"
5.x will no longer be supported after v0.2.0.8, and the require minimum version of PHP is 7, so amp versions are upgraded

[2017-12-04 05:40] nmred commented on #145
Amp v2.x diff v1.x is \Amp\xxx to \Amp\Loop::xxx, example amp v1.x `Amp\run()` modify amp 2.x `Amp\Loop::run()`

[2017-12-04 05:40] #145 closed

[2017-12-04 10:21] nmred opened #146 "Add protocol error code and error message"
http://kafka.apache.org/protocol.html#protocol_error_codes

[2017-12-05 04:43] #96 closed

[2017-12-06 02:41] nmred commented on #120
Some ideas about the implementation of the consumer stop:

- Adopt @lcobucci #147  , In `Consumer` class add `stopVerifier` callback identify whether the stop process is executed
- In `Consumer` class add `stopFinish` callback, notify the user when stop has been completed and supports setting up stop timeout to force stop
- The consumer stop process may be related to the current consumer state, te

[2017-12-06 07:50] lcobucci commented on #120
What I've implemented there is a very rough prototype, we can improve it by a lot.

Why is this needed? Can you please give me more context?

I don't think that users should rely on `\Amp\Loop::*` at all, the library is providing an abstraction layer for most if. We must keep in mind that there are multiple factors that should lead to consumer stop (resources consumption, process lifetime, SIGTERM

[2017-12-07 11:22] #146 closed

[2017-12-10 23:12] lcobucci commented on #125
@txl1290 I've translated your text (using google translator so it might not be accurate) to make it easier for everyone to understand what you're saying, please modify if you need to clarify things.

On #147 I've added functional tests to assert that both producer and consumer work fine with a real Kafka (0.9+) server and everything seems to be working fine. Can you please check the tests to ensur

[2017-12-11 02:55] smartwjw opened #152 "Kafka 1.0 support?"
Kafka 1.0 was released at Nov. 2017, does this client supports it ?

[2017-12-11 04:36] nmred commented on #152
Support at present, but communication protocol version is not newer, do not affect use.

[2017-12-11 13:13] lcobucci opened #154 "[Suggestion] clean up editor-related comments"
Comments like:

[code]

and:

[code]

Might be useful for some people that uses the very same setup and editor, but this kind of configuration should ideally be kept out of the code (just like ignoring IDE/editor files).

VIM users could use the latest versions of plugins like http://www.vim.org/scripts/script.php?script_id=1623 and http://www.vim.org/scripts/script.php?script_id=3934 to have the

[2017-12-15 07:28] #154 closed

[2017-12-16 09:36] gongdianpeng opened #156 "Kafka\Exception no data"
[Kafka\Exception]
  Unexpected EOF while reading 4 bytes from stream (no data)

这个改如何解决

SocketSync 310行

[2017-12-16 21:13] lcobucci commented on #156
@gongdianpeng can you please add more information about what you're doing (in English, please)? A stack trace would also be very helpful (and the version you're using).

[2017-12-17 16:57] #156 closed

[2017-12-17 17:08] gongdianpeng commented on #156
@lcobucci  have been resolved. thanks

Producer brokerList  I made mistake in writing~

[2017-12-18 11:00] smartwjw commented on #152
@nmred 你的意思是当前版本支持，因为协议版本并没有变化，所有不影响使用对吗？

[2017-12-18 11:00] #152 closed

[2017-12-21 02:24] huyouheng opened #158 "（The consumers at 2.12, 1.0.0 can't read the data）2.12 1.0.0 的消费者无法读取数据"
**The consumers at 2.12, 1.0.0 can't read the data, and the producer can send the data, and the whole process appears to be dead when the user is using it, and it never responds.**

2.12 1.0.0 的消费者无法读取数据，生产者可以发送数据的，当使用消费者的时候整个进程出现卡死状态，一直没有反应。

[2017-12-21 05:47] nmred commented on #158
@huyouheng can you provide more details on this?  Like you test code, etc

[2017-12-21 14:54] lcobucci commented on #108
@nmred can you please translate the title and body of this issue? Tried to do it via google translate but it doesn't make any sense 😂

[2017-12-27 17:06] alexander-thomas commented on #140
I still have this problem. I looked at the Consumer/Process.php in vendors src, there still is the old code.

If I add $part['offset'] - 1, it is fixed. I am using    "nmred/kafka-php": "0.2.*" version with composer.

 Please help me. I had decided to use this in production. Thank you in advance.

[2017-12-27 17:24] alexander-thomas opened #165 "Consumer skips offset after restart / rejoins group REOPEN"
I am reopening this issue -  https://github.com/weiboad/kafka-php/issues/140

The problem still persists. I looked at the Consumer/Process.php in vendors src, there still is the old code.

If I change to $part['offset'] - 1, it is fixed. I am using "nmred/kafka-php": "0.2.*" version with composer.

Please answer me. I had decided to use this in production and do not want to import hardcoded librar

[2017-12-27 23:12] lcobucci commented on #165
@alexander-thomas can you please send a PR with a functional test reproducing that issue (based on `master`)? We already have simple examples in https://github.com/weiboad/kafka-php/tree/5d75a17bdf5bd98d3f56663342b9c2d47a405b28/tests/Functional and [when they were introduced](https://github.com/weiboad/kafka-php/pull/141#issuecomment-350573452) we found out that changing to `$part['offset'] - 1` d

[2017-12-28 01:15] huyouheng commented on #158
`require './vendor/autoload.php';
date_default_timezone_set('PRC');
use Monolog\Logger;
use Monolog\Handler\StreamHandler;

$config = \Kafka\ConsumerConfig::getInstance();
$config->setMetadataRefreshIntervalMs(10000);
$config->setMetadataBrokerList('127.0.0.1:9092');
$config->setGroupId('test');
$config->setBrokerVersion('1.0.0');
$config->setTopics(array('test'));
//$config->setOffsetReset('earli

[2017-12-28 02:08] nmred commented on #158
@huyouheng kafka-php version is v0.2.0.8?

[2017-12-28 05:43] huyouheng commented on #158
kafka version is kafka_2.12-1.0.0.tgz。kafka-php version is  "nmred/kafka-php": "v0.2.0.8",

[2017-12-28 06:27] nmred commented on #158
You can runing this example https://github.com/weiboad/kafka-php/blob/v0.2.0.8/example/protocol/MetaData.php get kafka cluster broker info, check broker host and port is it possible to connect？

[2017-12-28 09:13] alexander-thomas commented on #165
@lcobucci Thank you for the response. I'll do it as soon as I have free time. I will do my best to send PR this week.

[2017-12-28 14:29] huyouheng commented on #158
Thank you, I'll try。

[2017-12-28 21:06] lcobucci commented on #165
@alexander-thomas awesome, thanks! We're putting lots of effort to improve the library and ensure that everything is tested, so having your tests in the suite would be amazing to prevent regressions in the future.

[2017-12-29 11:30] aurovrata opened #166 "vendor/autoload.php missing in examples"
The examples are including
`require '../vendor/autoload.php';`
which is not available as part of the repo.  I am assuming it is a std autoload.

[2017-12-29 11:45] dutchakdev commented on #165
+

[2017-12-31 09:58] lcobucci commented on #166
@aurovrata before of executing the provided examples you must install the project dependencies via composer, which is done by simply running `composer install` on the root folder for the library.

[2017-12-31 10:01] lcobucci commented on #166
(and also a running Kafka server, sure)

[2017-12-31 11:14] aurovrata commented on #166
thanks, got it to work just fine.

[2017-12-31 11:14] #166 closed

[2018-01-04 09:16] livecm opened #169 "Could not read 4 bytes from stream (not readable)"
相关代码：
$producer = new \Kafka\Producer();
$producer->setLogger(Logger::getInstance());
$kafka_ret = $producer->send($send_func());

报错内容：Could not read 4 bytes from stream (not readable)

版本信息：
"name": "nmred/kafka-php",
"version": "v0.2.0.7",

[2018-01-04 10:09] lcobucci commented on #169
@livecm we're working hard to add tests for every single piece of the lib to avoid these issues, so could you try to create a functional test which reproduces this one?

[2018-01-05 16:32] MattBow opened #170 "heartbeat failed"
version: 0.2.x
NativeReact

心跳检测在函数处理完成后执行，MODE设置为，先处理后提交offset模式的时候。
导致心跳检测依赖业务处理函数

[2018-01-06 09:18] lcobucci commented on #170
@MattBow can you please translate the issue to English?

[2018-01-08 07:44] noname007 commented on #170
heartbeat failed when set mode `ConsumerConfig::CONSUME_BEFORE_COMMIT_OFFSE`

i found  heartbeat check after kafka event consume handler has finished

[2018-01-17 07:41] fendouxiong opened #171 "broker.php中没有error方法，有异常会报错"
[error] 538#0: *455777 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Call to undefined method Kafka\Broker::error() in /WWW/RRKDInterface/vendor/rrkd/php-kafka/src/Broker.php on line 196" while reading response header from upstream

[2018-01-17 09:41] lcobucci commented on #171
@fendouxiong are you using this lib? I mean, it looks like you're using a fork - based on the path which composer installed it (`vendor/rrkd/php-kafka`).

Can you please check which version you're using in your `composer.json`?

[2018-01-23 09:07] fendouxiong commented on #171
@lcobucci I download this package (weiboad/kafka-php) to my private store，then  use it with php 5.4 ，not change anything 。

composer.json
`{
  "name": "rrkd/php-kafka",
  "description": "kafka",
  "keywords": [
    "kafka"
  ],
  "require": {
    "php": ">=5.4"
  },
  "autoload": {
    "psr-4": {
      "Kafka\\": "src/"
    }
  }
}`

maybe about php version, but  i use it with php 7.2 ,there also

[2018-01-23 09:15] lcobucci commented on #171
@fendouxiong we have a trait which provides that method, maybe `Broker` was relying on it and got changed. Can you pinpoint the exact commit id which you're using? It's possible that you're using a very very very old version which is possibly not maintained anymore...

I'm using the latest commit of `master` in production and it's being quite stable, maybe you can fork from that...

[2018-01-23 09:26] fendouxiong commented on #171
Broker.php  not have parent class   and  "__call" function . “this->error()” Where does it come from？

[2018-01-23 12:26] lcobucci commented on #171
@fendouxiong if could you tell us which commit you're using we can help you to understand what's going on there, but without that we can't do much. We had issues in the past which were already fixed...

[2018-01-24 02:02] fendouxiong commented on #171
@lcobucci  i m sorry,   i delete "use \Kafka\LoggerTrait;" in SingletonTrait , so not fund error function , now i fix it.   thanks for your help.

[2018-01-24 09:17] lcobucci commented on #171
@fendouxiong alright... closing as `invalid` then

[2018-01-24 09:17] #171 closed

[2018-01-26 06:52] chongchaoyu opened #172 "Missing parentheses in function checkRun at Comsumer/State.php#322, v0.2.0.8"
Is it missing parentheses in function checkRun at Comsumer/State.php#322? Because "&" has a lower precedence than "==". I found it has been fixed at master branch.
///------
case self::REQUEST_METADATA:
                if (**$status & self::STATUS_PROCESS** == self::STATUS_PROCESS) {
                    return false;
                }
                if (($status & self::STATUS_LOOP) == self::STAT

[2018-01-30 12:10] simPod opened #176 "Shouldn't there be a warning when producing to non existing topic?"
I'm new to kafka but when I'm trying to send message to topic that doesn't exist, shouldn't I get warning? Just checking `SyncProces->convertMessage()` where topics list is fetched and it simply returns empty array when topic does not exist

[2018-01-30 13:19] lcobucci commented on #176
@simPod AFAIK the Java CLI consumer/producer creates the topic automatically when it doesn't exist, we don't do anything regarding this yet.

I agree that the lib should emit an error or create the topic (with only 1 partition and 1 as replication factor) based on a given configuration

[2018-01-30 13:20] lcobucci commented on #176
This relates to #122 (in a way)

[2018-01-30 13:24] simPod opened #177 "Singleton config and multiple consumer configurations"
As the ConsumerConfig is a singleton, how to create multiple consumers with eg. different groups?

[2018-01-30 13:39] lcobucci commented on #177
You don't 😢

Killing the whole singleton thing is listed in #139 but we didn't get to implement that yet... I'm working in isolating dependencies and have a better connection management right now (which IMO is the first step to exterminate the singletons) but I'm quite busy with other stuff atm that I didn't manage to finish it

[2018-01-30 13:41] lcobucci commented on #177
What you would have to do for now is simply have each group in it's own process.

[2018-01-30 13:43] simPod commented on #177
I'll try to look at it

[2018-01-30 14:06] simPod commented on #139
What about not so general namespace?

[2018-01-30 16:25] chongchaoyu commented on #172
Is it not an issue? why no response for it?

[2018-01-30 16:40] lcobucci commented on #172
@chongchaoyu sorry, I just didn't get to reply to you... this is indeed an issue, can you please send a PR to fix it?

[2018-01-30 18:26] noname007 opened #179 "lost message when consumer restart"
desc in the #141

[2018-01-30 18:51] simPod commented on #135
That happended to me when I had incorrectly set broker list property.

[2018-01-30 18:54] simPod opened #180 "Batch consume"
If I want to consume in batches, how would you approach this?

I found that it's possilbe to set `auto.commit.enable = false` to consumer and commit manually so theoretically, I could be consuming eg 10K messages into a buffer and after processing them do the commit.

Is there a way to set this option to consumer? Or different approach?

Thanks!

[2018-01-31 00:52] simPod commented on #180
So in there `groupId` mentioned https://github.com/weiboad/kafka-php/blob/master/docs/Configure.md. In official documentation https://kafka.apache.org/documentation.html#consumerconfigs, its name is `group.id`

I suppose we don't have `enable.auto.commit`. I tried to figure how, how these work but honestly was not able to find a way to add it here...

[2018-01-31 08:36] chongchaoyu commented on #172
@lcobucci I have created 2 PRs, one is for 0.2.0-dev, and the other is for 0.3.0-dev,  please review them.

[2018-01-31 10:49] lcobucci commented on #172
Handled in #182

[2018-01-31 10:49] #172 closed

[2018-01-31 11:03] lcobucci commented on #179
@noname007 as said before we do need the test to confirm that this is an issue, though...

[2018-01-31 12:44] chongchaoyu commented on #179
@lcobucci I think I have found the reason for this issue, and I will create a PR to this, please review it.
The reason is: when no new messages is available, the fetch request is also successful, and the message array in response is empty, but consumer also commits the offset. At this situation the consumer offset is equal to commit offset, so if you don't stop the consumer, the commit offset will

[2018-01-31 13:41] noname007 commented on #179
#186  abosolutely that's not a test but the minimal code of my condition represention

[2018-01-31 14:03] lcobucci commented on #179
@noname007 it's a great start, thanks!

[2018-01-31 14:04] chongchaoyu opened #187 "Change the default consume_mode to CONSUME_BEFORE_COMMIT_OFFSET to avoid message lost when consumer close"
When consumer and producer are all busy, if you shutdown consumer, some messages can be lost.
Because the commit offset is async, you can't invoke consume callback until the commit offset response is back, if you close the consumer before the response is back, the messages will be lost. Although you can change the config at any time, but the default configuration is not safe, and the sample gave i

[2018-02-01 04:17] nmred commented on #187
@chongchaoyu If use CONSUME_AFTER_COMMIT_OFFSET mode, when stop consumer commit offset can't sync to broker, so the messages will not lost, next start consumer will be get

[2018-02-01 05:23] brstgt commented on #139
I also appreciate all work that has been done on that library.
I also give a +1 to all the suggestions mentioned above. I'd even go one step ahead:

- Drop support for pseudo-sync behaviour.
 - Using AMP in a sync environment is not efficient. For environments that don't run on event loops it will be probably better to go with a client like that: https://github.com/arnaud-lb/php-rdkafka
 - Will pr

[2018-02-01 05:59] chongchaoyu commented on #187
@nmred
the steps are like this:
1. consumer fetches message successfully, and keeps the messages
2. consumer sends offset commit request to brokers, and waits the response of brokers
3. brokers receive the offset commit request, handle it successfully, and then send a response to consumer
4. before the response reaches the consumer, or before the event loop starts, we close the consumer, the messa

[2018-02-02 23:03] simPod commented on #169
Having the same issue. I believe it started when I started producing high amount of messages. I'm afraid functional test won't reproduce it at such low amount scale it runs on.

[2018-02-03 08:13] simPod commented on #169
I suspect timeout. When I decreased message batch (on one producer cycle I was persisting huge amount of messages), it stopped ocurring. Investigating

[2018-02-06 17:35] simPod commented on #169
So it happens when producing messages. Not sure why yet (I might be overloading my kafka perhaps?)

It is probably CommonSocket.php:245 method but dunno whether it's 255 or 266 yet. I think it's not a bug tho.

[2018-02-09 09:49] smarijic opened #190 "Publishing and consuming does not work with Kafka 1.0.0"
Running Kafka 1.0.0 with Zookeeper on Docker. I am using basic example
[code]

No connection exception is thrown but syncMeta() call returns empty brokers and topics.

When I run this I get following in the log:
`
[2018-02-09 10:42:14] app.DEBUG: Start sync metadata request [] []
[2018-02-09 10:42:14] app.DEBUG: Start sync metadata request params:["esd"] [] []
[2018-02-09 10:42:14] app.DEBUG: Star

[2018-02-09 11:21] lcobucci commented on #190
@smarijic I'm using `master` in production with Kafka 1.0 and I don't have any issue to produce/consume messages... You can also see our functional tests working on kafka 0.9 and higher (using a simple docker setup as well).

[2018-02-09 16:41] simPod opened #191 "The group is rebalancing, so a rejoin is needed"
These errors started to pop in my log few hours ago. I wonder whether it even means something is wrong and what can I do about it? Have you ever encountered such thing?

Probably it is related or means the same as Heartbeat error, errorCode:27 that started popping too.

[2018-02-12 10:04] smarijic opened #194 "Cannot stop(); event reactor not currently active"
I am running async producer as a long running script. First and second batch of messages is published successfully, after that it fails with following LogicException

`"exception" => LogicException {
    #message: "Cannot stop(); event reactor not currently active"
    #code: 0
    #file: "vendor/amphp/amp/lib/NativeReactor.php"
    #line: 138
`
Using v0.2.0.8 of library.

[2018-02-12 10:35] #190 closed

[2018-02-12 10:57] lcobucci commented on #194
@smarijic can you please send us a failing functional test that reproduces the behaviour your experiencing?

[2018-02-12 11:11] lcobucci commented on #191
@simPod I did see this happening on previous versions, but not on `dev-master` (which is what I'm using in prod - shaaaame 😂 )

[2018-02-12 11:20] lcobucci commented on #190
@smarijic is this solved?

[2018-02-12 11:32] lcobucci commented on #176
Handled in #181

[2018-02-12 11:32] #176 closed

[2018-02-12 12:11] simPod commented on #180
I worked on something that might make it possilbe in a proper "kafka-way"

[2018-02-12 12:26] smarijic commented on #190
@lcobucci Yes, it turns out there was something wrong with network configuration in docker.

[2018-02-12 12:47] smarijic commented on #194
I've tried to reproduce this behavior isolated from rest of the project and it turns out this exception is thrown when you are using async producer but set `$config->setIsAsyn(false)`, when this setting is not called, producer works normal so far.
Your example for async producer shows this flag to be set to false.
I am not sure how to handle this. So far it looks like misconfiguration issue.

[2018-02-12 12:54] lcobucci commented on #194
@smarijic humm tbqh I never managed to have something working with `$config->setIsAsyn(true)`... I'd suggest you to keep it set to `false` (even in the `README` it says to use it as `false` for async producer).

[2018-02-12 13:43] simPod commented on #191
Using dev-master in prod too 😂 But it's happening there. Trying to find the cause...

[2018-02-12 14:14] lcobucci commented on #191
Huumm weird... it might be related to having multiple connections to different brokers and some stuff having in one broker and other stuff in another?

[2018-02-12 14:17] simPod commented on #191
Have only one broker for now 🤔 I was thinking I'm somehow overloading it so that there might be need for another broker. This is not getting better :D

[2018-02-12 14:57] smarijic commented on #194
Yes, my first implementation was based on README, but oddly for me it only works with isAsyn set to true. I'll create functional test where this issue in amphp occurs.

[2018-02-12 16:45] lcobucci commented on #194
@smarijic awesome, thank you!

[2018-02-18 04:12] cordoval opened #197 "Avro Support"
I am trying to use it with confluent but their kafka uses avro by default

is there a way to make it work with avro?

[2018-02-18 09:32] lcobucci commented on #197
@cordoval unfortunately we don't have a way to vary the serialisation/deserialisation implementation at the moment (as the Java API supports). If you want, you can send us a PR to add the Confluent Kafka to the functional test suite and then people can you help us to get it implemented.

[2018-02-18 13:44] cordoval commented on #197
do you mean my job is only to send a PR with some modifications to docker-compose.yaml adding my new image from confluence? is that right? so as long as the test runs ship is good?

[2018-02-18 15:58] lcobucci commented on #197
@cordoval almost that, you'll need to also add it to `.travis.yml` to execute with that specific Kafka version.

[2018-03-27 05:59] lcy4599 commented on #169
What is this issue reason ? has solution ?

[2018-03-27 06:11] dusong0717 opened #198 "Consume Warning"
PHP Warning:  Invalid argument supplied for foreach() in /data/web/api/composer/vendor/nmred/kafka-php/src/Kafka/Consumer/State.php on line 438

[2018-03-27 06:46] dusong0717 commented on #198
PHP 7.1.12 (cli) (built: Nov 25 2017 17:49:09) ( NTS )
Copyright (c) 1997-2017 The PHP Group
Zend Engine v3.1.0, Copyright (c) 1998-2017 Zend Technologies
    with Zend OPcache v7.1.12, Copyright (c) 1999-2017, by Zend Technologies

[2018-03-27 06:47] dusong0717 commented on #198
kafka version 1.0.+

[2018-03-29 10:22] zwxhenu opened #199 "The code is not complete！！！"
I want to find Amp\Loop and Psr\Log\LoggerAwareTrait; But I can not find it in the code~~

[2018-03-29 11:14] lcobucci commented on #199
@zwxhenu did you use `composer` to install the library? It will download every package that this library depends upon automatically. More info: [getcomposer.org](https://getcomposer.org)

[2018-03-30 05:34] zwxhenu commented on #199
@lcobucci oh oh~ ok thanks .

[2018-03-30 08:50] lcobucci commented on #199
@zwxhenu I'll be closing this issue as `invalid` since it's not related to the library but rather how it has to be installed. I'll open an issue to improve wording in docs and make things clearer.

[2018-03-30 08:50] #199 closed

[2018-03-30 08:53] lcobucci opened #200 "Improve installation instructions"
That might be a bit misleading for people who are not familiar with composer and don't know every package that must be installed before of trying to use this library.

[2018-04-04 06:35] khizarsonu opened #201 "How to set consumerId"
Hello,

I have explored this module and it's difficult for me to set consumerId, I have seen there is an option to set clientid, but I guess clientid is different consumerid is different.

Looking for help

[2018-04-04 06:43] nmred commented on #201
@khizarsonu I think your consumerId is the memberID generated by join group, not  allowed to set up

[2018-04-04 06:45] nmred commented on #201
You can refer to

http://kafka.apache.org/protocol.html#The_Messages_JoinGroup

[2018-04-04 06:50] ashishnetworks commented on #201
isn't there any way to manually & explicitly set consumer id while creating a single consumer? Kafka's API in other languages do provide such options.

[2018-04-04 07:12] nmred commented on #201
It is not supported at present

[2018-04-04 10:39] ashishnetworks commented on #201
Actually, I was using single consumer, NOT consumer group. And in my use case, I need to change my machine every few weeks. But when my machine is changed, somehow my consumer ID is changed too and so I start receiving messages from earliest available offset since Kafka considers me to be a different consumer which I'm not. So I was looking for a way to somehow set the consumer.id explicitly so th

[2018-04-04 12:25] lcobucci commented on #201
@ashishnetworks in Kafka every consumer is part of a group, like always. You can have a single consumer in a group but it's the group who is responsible for controlling the offset of the consumers related to it. So what you need is to indeed set the `group.id` and that will do what you want.

[2018-04-05 06:46] ashishnetworks commented on #201
okay thank you @lcobucci , I will try with group Id.

[2018-04-16 09:29] jinguoxing commented on #96
我本地有几个ssl的文件
ca-cert
ca-cert.srl
ca-key
kafka.keystore
kafka.truststore

 $config->setSslLocalCert('/XXX/ca-cert');
 $config->setSslLocalPk('/XXX/ca-key');
  $config->setSslEnable(true);
 $config->setSslPassphrase('passwd');

是这样写么？不起作用

[2018-04-16 09:42] jinguoxing opened #202 "SSL connect 怎么使用"
我本地有几个ssl的文件
ca-cert
ca-cert.srl
ca-key
kafka.keystore
kafka.truststore

$config->setSslLocalCert('/XXX/ca-cert');
$config->setSslLocalPk('/XXX/ca-key');
$config->setSslEnable(true);
$config->setSslPassphrase('passwd');

是这样写么？不起作用

[2018-04-16 09:49] nmred commented on #202
参考这个：

https://github.com/weiboad/kafka-php/blob/master/example/Producer.php

[2018-04-16 09:59] jinguoxing commented on #202
目前就是下载的example里面的

本地使用 kafka-console-producer.sh  访问 配置

bootstrap.servers=ip:9093
security.protocol=SSL
ssl.truststore.location=/xxxx/kafka.truststore
ssl.truststore.password=passwd
ssl.keystore.password=passwd
ssl.keystore.location=/xxxx/kafka.keystore

是可以连上的；

现在本地的ssl包括
ca-cert
ca-cert.srl
ca-key
kafka.keystore
kafka.truststore
================

通过php 的代码 这块的参数不是很了解；
看了配置说明还是 迷糊，望指导

  $conf

[2018-04-17 02:09] mgckid opened #203 "客户端连接 阿里云kafka服务 报错（It was not possible to establish a connection for metadata with the brokers "kafka-cn-internet.aliyun.com:8080"）"
![qq 20180417100824](https://user-images.githubusercontent.com/15118994/38844744-72ec58fe-4227-11e8-9d0b-54c9149565a6.png)

[2018-04-17 02:27] nmred commented on #203
Please provide a detailed kafka server log

[2018-04-17 02:32] mgckid commented on #203
@nmred  需要我提供哪些详细的日志，请列举下

[2018-04-17 05:56] Veitor commented on #203
I also use Aliyun kafka and the error occurred is "Fatal error: Uncaught Kafka\Exception: Could not read 352518912 bytes from stream, length too longer. in D:\workspace\test\kafka\vendor\nmred\kafka-php\src\Kafka\SocketSync.php:292"

Does it means the metadata read from kafka server is too large?

![image](https://user-images.githubusercontent.com/7483890/38851101-f03236fc-4246-11e8-8356-375ca9d95

[2018-04-17 07:45] mgckid commented on #203
@Veitor  为什么你代码不需要配置ssal和ssl就能连接阿里云

[2018-04-18 00:51] Veitor commented on #203
@mgckid 我当时也在想，为啥我什么认证机制都没配置，另外我是刚开始接触kafka，正巧阿里云最近在公测所以想试试，好像阿里云官方之前提供过php客户端demo但现在又没了。。比较蛋疼，kafka的php客户端实现貌似比其他语言繁琐啊

[2018-04-18 00:56] mgckid commented on #203
@Veitor  我今天打算参照node的阿里云kafka demo 再试下连接阿里云看看，已经快绝望了，sasl认证老是过不去

const Kafka = require('node-rdkafka');
const config = require('./setting');
console.log("features:" + Kafka.features);
console.log(Kafka.librdkafkaVersion);

var producer = new Kafka.Producer({
	/*'debug': 'all', */
    'api.version.request': 'true',
    'bootstrap.servers': config['bootstrap_servers'],
    'dr_cb': true,
    'dr_ms

[2018-04-18 07:51] Veitor commented on #203
兄弟，你研究的怎么样了。。我已经搞了很久了。。阿里官方demo中都是用的第三方库啊，直接传传配置进去的。。要按照他们那样搞我还得去研究库。。不知道他们怎么想的。。。

我本地用docker搭建了个kafka，通过该代码运行producer似乎是成功的样子的
![image](https://user-images.githubusercontent.com/7483890/38918380-0e117a6e-4320-11e8-966b-2daacad7b7c9.png)

通过consumer返回的结果也与之前不一样了。。不过看不懂。貌似没取出消息来？
![image](https://user-images.githubusercontent.com/7483890/38918451-546c7a4a-4320-11e8-9077-58c63ee70f11.png)
![image](

[2018-04-18 08:05] mgckid commented on #203
我使用官方demo里的python代码去连接阿里云kafka成功了

我上午在阿里云上提了一个gong工单，他们给我反馈了，说php不适合连接队列服务
![qq 20180418160345](https://user-images.githubusercontent.com/15118994/38919145-5a8c1fbe-4322-11e8-910b-dd32d0ff82ed.png)

[2018-04-18 09:19] Jiacheng-z opened #204 "Producer的负载均衡怎么做?"
现在消息只会落到一个 consumer 上. 有办法在不知道 consumer数量的情况下自动的随机到不同的 partitions上么?
好像在消息结构中可以通过 `partId` 可以指定需要使用的 partitions , 但是不知道从哪里获取 topic中现有的 consumer 数量.

[2018-04-18 09:56] jinguoxing commented on #204
你设置了几个分区，然后可以开几个消费进程，每个消费进程的的组名设置成一样

 $config->setGroupId('test');

可以自动均衡的。

[2018-04-18 11:30] #204 closed

[2018-04-23 10:06] SunnnyGohil opened #205 "run producer in cunsumer"
Hii

Can i run producer into Consumer?

[2018-04-23 12:52] lcobucci commented on #205
@SunnnyGohil for now you can only run the sync producer while consuming messages, since the control of the event loop is done inside of the classes

[2018-04-23 12:55] SunnnyGohil commented on #205
thanks for reply @lcobucci

when i run producer into consumer that time i got "Exception 'LogicException' with message 'Cannot run() recursively; event reactor already active" this error.

if you have solution than please help me

[2018-04-23 13:00] lcobucci commented on #205
@SunnnyGohil the producer should be run in the synchronous mode: https://github.com/weiboad/kafka-php#synchronous-mode

[2018-04-23 13:02] SunnnyGohil commented on #205
@lcobucci  i aleardy run producer in sync mode but i got error

[2018-04-23 13:14] lcobucci commented on #205
Can you put your code here?

[2018-04-23 13:24] SunnnyGohil commented on #205
require '../vendor/autoload.php';
    date_default_timezone_set('PRC');

     $config = \Kafka\ConsumerConfig::getInstance();
    $config->setMetadataRefreshIntervalMs(10000);
    $config->setMetadataBrokerList('127.0.0.1:9092');
    $config->setGroupId('test');
    $config->setBrokerVersion('0.10.1.0');
    $config->setTopics(['test']);
    $config->setOffsetReset('earliest');
    $config->setCli

[2018-04-23 16:11] lcobucci commented on #205
@SunnnyGohil `setIsAsyn()` **does not** put the consumer in synchronous mode, if you compare your code with the one in the link I've sent you you'll notice that there are differences in:

[code]

[2018-04-23 17:25] SunnnyGohil commented on #205
thanks @lcobucci
i changes in my code but i got there new exception
"Exception 'Kafka\Exception\Protocol' with message 'unpack failed. string(raw) length is 0 , TO N"

[2018-04-23 20:10] lcobucci commented on #205
@SunnnyGohil are you using the stable release? If so, could you try with `dev-master`?

[2018-04-24 05:35] SunnnyGohil commented on #205
yes @lcobucci  i am using stable release.
my project in on it i can't change it.
can you give me another solution?

[2018-04-27 09:39] SunnnyGohil opened #206 "Auto Create Topics"
Hi
How to set Auto Create topics enabled in kafka-php producer configuration?

[2018-04-27 09:41] SunnnyGohil commented on #205
i solv this by calling self API

[2018-05-02 03:41] vagh opened #207 "[How to set offset] 怎么在初始化消费者的同时指定 offset 而不是自动获取"
业务特殊性，有可能在读取队列数据后处理失败，后期会重新读取再次处理。想要手动设置 offset ，从这个 offset 开始重新读取数据。但是看了半天文档和已经提交过的 issues 里没有找到什么相关说明，请问现在的最新版本有支持这样的功能吗，有的话麻烦指点一下，谢谢了！

[2018-05-14 06:51] matesio opened #209 "function call, to send messages"
Hi i am trying to make a function working with kafka stream, but unable to figure out how to do this.
The main goal is to send data continuously through kafka stream , but i can only find single message sample. Can you please share some sample in which you have continuos messages like this,

[code]

it  is sending null messages to broker, rather than calling and send that message,
Thanks

[2018-05-16 08:29] jamesharv opened #210 "Sending a null value to a compacted topic"
Hi,

I'm using version 0.2.* of the library.

My understanding is that it's valid to send a `null` value for a key to a Kafka topic when using log compaction.

From: https://kafka.apache.org/documentation/#compaction

However there's a specific if statement in `SyncProcess` which drops `null` values. This doesn't seem correct to me.

https://github.com/weiboad/kafka-php/blob/bbe9329df076e458bcb5e2

[2018-05-16 09:48] shijiajiaga commented on #135
That also happended to me that the error --"Message: Unexpected EOF while reading 4 bytes from stream (no data)" often stop my running php-code work,how to deal with it??

[2018-05-23 10:09] matesio commented on #209
ah, i am so stupid, my function was returning nothing, and all the time i was thinking, i am writing kafka-php wrong way.

[2018-05-23 10:10] #209 closed

[2018-05-23 11:17] jcchavezs commented on #177
This would be a really nice improvement. I can work on this myself.

The reason for this to be important is that let's say you use kafka for event sourcing in your application but you also one to use kafka for monitoring or observability, they clearly won't share configuration (and might be probably different instances). At the moment we have to do such trick:

[code]
(source https://github.com/jc

[2018-05-23 11:53] lcobucci opened #213 "Create functional tests for SASL support"
In #150 we manage to add SASL support, however we didn't add any functional test to ensure that everything works in all supported Kafka versions. Let's solve this!

[2018-05-23 11:54] lcobucci opened #214 "Run functional test suite in Kafka v1.1.0 as well"
So that we can ensure that we support that new version

[2018-05-23 11:54] lcobucci commented on #177
@jcchavezs keeping a global config is quite a mess IHMO, ideally we should be able to have multiple producer and consumer in the same event loop and they should just work properly. This is an edge case, for sure, but solving that would remove completely the messy singleton thing we have now.

I'm still refactoring the connection management area but am doing this together with the other projects I

[2018-05-23 11:58] lcobucci commented on #209
@matesio hey don't be so harsh on you, our lib is a bit complicated to use and it's quite error-prone. On top of that we're all humans and we make mistakes 👍

Let us know if there's anything we can do to help you!

[2018-05-23 12:00] lcobucci commented on #207
@vagh sorry, but can you please translate everything to English? I have no Chinese knowledge and so can't help you much 😂

[2018-05-23 12:09] lcobucci opened #216 "Upgrade `doctrine/coding-standard` to v4"
So that we can have better validation and some fixes

[2018-05-24 06:12] yunnanwenshan opened #217 "Produce message to kafka brokers, occurred to "Cannot stop(); event reactor not currently active""
kafka brokers version: 0.11.0.0
kafka-php version:v0.2.0.3

[2018-05-30 10:11] vagh commented on #207
@lcobucci Sorry,My English is not very good...  I mean how can i set offset manually instead of the program auto set offset from the transaction.

[2018-06-04 08:07] deesignee commented on #135
Also have this problem:
Reproduced from time to time without any linear dependency (same query pool can generate error, but with next call everything goes fine).

Used versions:
os debian 9.4
kafka_2.12-1.0.1
openjdk version "1.8.0_162"
PHP 5.6.35-1+0~20180405085504.12+stretch~1.gbpaa4624
kafka-php: V0.2.0.8

But also reproduced with:
os centos 7
kafka_2.12-1.0.0
jdk1.8.0_151
PHP 5.5.38
kafka-php:

[2018-06-14 03:52] jhomephper opened #219 "生产者发送成功，kafka里却没有信息"
Start sync metadata request
Start sync metadata request params:[]
Start Request ClientId: kafka-php ApiKey: MetadataRequest  ApiVersion: 0
Send message start, params:{"required_ack":1,"timeout":5000,"data":{"test":{"partitions":[{"partition_id":0,"messages":["test....message."]}],"topic_name":"test"}}}
Start Request ClientId: kafka-php ApiKey: ProduceRequest  ApiVersion: 2
Send message sucess, res

[2018-06-14 03:53] jhomephper commented on #219
Start sync metadata request
Start sync metadata request params:[]
Start Request ClientId: kafka-php ApiKey: MetadataRequest  ApiVersion: 0
Send message start, params:{"required_ack":1,"timeout":5000,"data":{"test":{"partitions":[{"partition_id":0,"messages":["test....message."]}],"topic_name":"test"}}}
Start Request ClientId: kafka-php ApiKey: ProduceRequest  ApiVersion: 2
Send message sucess, res

[2018-06-25 09:30] lvrach opened #220 "Unexpected behaviour when using multiple async producers"
## Description
When trying to send multiple messages asynchronously and using more than one Producer to do so,
incorrect messages are send to the kafka broker. More specificly instead of sending the latest message the previous message is send.

After testing I observe that Producer's callback function is called more than once. Moreover the old callback function is called in place of the newly defi

[2018-06-25 09:56] lvrach opened #221 "Getting unknown error code 1000, using producer"
Running the following script to send a lot of messages:
[code]

After many successfully send messages, this error appears sparsely:
[code]

This error code is not listed here: https://kafka.apache.org/protocol#protocol_error_codes.

So it seems to be a library issue.

[2018-06-25 11:46] lcobucci commented on #220
@lvrach wow that's really weird, I'd assume this is caused by sharing singletons and nature of "async" stuff... the library was not designed to have the producer within a foreach loop and this is a result of that.

This is a nasty bug but is a side-effect of the design decisions here =/ I'm trying to improve the connection management and solve this once and for all but am kind of overwhelmed with

[2018-06-25 11:48] lcobucci commented on #221
@lvrach thanks for reporting this, it is indeed a library issue (a very weird and not documented one): https://github.com/weiboad/kafka-php/blob/a8f5b01d9ca24c183b121d624e3402bf8aa70488/src/Producer/Process.php#L109-L111

I think that the root cause is (again) having many different producer instances sharing singletons.

[2018-06-25 11:56] lvrach commented on #220
@lcobucci thank you for your quick response.

I simply want to send multiple messages to Kafka asynchronously. Could you recommend a better way to do this, utilising this library?

[2018-06-25 12:20] lcobucci commented on #220
@lvrach I'd recommend you to put the logic in the callback, the way we have in the [functional tests](https://github.com/weiboad/kafka-php/blob/master/tests/Functional/AsyncProducerTest.php#L23).

We could do some minor changes to allow you to use a generator but for now you do need to return an array on this callback.

So your snippet would look like this:

[code]

You can use any `callable` synt

[2018-07-03 03:23] kevinmiao commented on #135
has solution?

[2018-07-03 04:33] kevinmiao opened #222 "how to user a custom partition?"

[2018-07-03 04:42] kevinmiao commented on #205
dose partId is work?

[2018-07-04 03:31] shijiajiaga commented on #135
after I try set broker version property 0.10.0,haven't seen the error,everything it's OK

[2018-07-04 04:40] kevinmiao opened #223 "怎么使用多个kafka地址"
程序里有两部分数据，需要分别发送到两个不同的kafka
在程序里发送完第一个kafka后 ，再发送到第个kafka的时候会重用第一个连接，导致发送失败。
有解决办法吗

[2018-07-04 07:37] kevinmiao commented on #223
@lcobucci Hi,in my case, I should send the message to multiple kafka host. in my program I send the first message is ok, but send the message to other kafka host it not work .
what should can i do , use the diffrent group.id?

[2018-07-04 07:47] Sevavietl commented on #177
@lcobucci, hi. Is there any luck dropping singletons? I may be able to help you with this but need to know what is already done, so I can choose the right direction.

The real problem I have faced is the `Broker` when using producer inside the consumer. As we can specify the topics for the consumer the metadata will be fetched only for those topics, so only those topics will be available for the b

[2018-07-05 08:18] jwcn commented on #198
同样遇到这个问题，场景是开启两个consumer进程消费不同的topic，group_id 相同，kafka 集群相同，
os: ubuntu16.04
kafka version: 1.1.0
php version: 7.0.30

[2018-07-05 09:10] jwcn commented on #198
@Sevavietl  sorry, I mean:
Also encountered this problem, the scene is to open two consumer processes to consume different topics, group_id is the same, kafka cluster is the same,
os: ubuntu16.04
kafka version: 1.1.0
php version: 7.0.30

[2018-07-05 12:42] qinyuguang opened #224 "Consumer can't fetch the last message from each patition"
When I was using kafka-php, I had a problem. Has anyone ever had the same problem?

First produce some messages, partition has data.
Then start the consumer process and find that the consumer lost the latest message from each partition.

For example, if the uncommitted message offset in a patition is 2, 3, 4, then the consumer can only get 2, 3...

![u5v6_ wk 73lew62c49p1x](https://user-images.git

[2018-07-05 21:05] lcobucci commented on #198
@jwcn which version of the library are you using (stable or unstable)?

[2018-07-05 21:17] lcobucci commented on #177
@Sevavietl unfortunately I haven't been able to continue my implementation, due to a massive amount of work at my company. However I think that this situation will soon change and I will finally address this.

The main challenge here is that we need to invert the place where we control the `EventLoop` in order to be able to drop the singleton, but that is not a small change to make since the lib w

[2018-07-06 07:14] Sevavietl commented on #177
@lcobucci, no worries -- have the same thing with work too)

Regarding `EventLoop`, well, I think it is ok that `amp` uses a singleton for the loop, as there can be only one event loop. We actually using `amp` for the whole app, so global loop comes handy because we were able to integrate this library without much pain using `Loop::defer` in the callback of the consumer.

It is a real problem that

[2018-07-12 02:15] jwcn commented on #198
@lcobucci  v0.2.0.8  stable
Because the php version I am using is 7.0, the dev-master version requires a minimum 7.1 php version.

[2018-07-19 10:47] zmisgod opened #225 "Could you fix 【fix lost one message when consumer restart】 on tag v0.2.0.8"
Hi, I am using composer install your project, but i find a same problem in https://github.com/weiboad/kafka-php/pull/141. You only merge this fixed code to master, but not fix in any other stable version such as `v0.2.0.8`. I'd like using master version but my server only support PHP7.0 not PHP7.1
Please fix this bug on tag `v0.2.0.8` or later version .
A STAR for your greatful.

[2018-07-20 02:25] ThisBug opened #226 "readme_ch.md"
[code]
版本号问题,设置readme里的版本号无法正常使用,请更新readme

[2018-07-20 03:56] rcj654020445 opened #227 "Consumers set custom partitions"
I want the consumer to consume custom partitions in the specified topic. How do I set them

[2018-07-23 10:02] mantzas opened #228 "Key is not used for partitionning"
I have added the 'key' to the payload, which is the ID of one of my entities, so that i get the same entity in the same partition. Our topic has 4 partitions. Unfortunately it does not seem to work.
We expect that with the above the message will always go in one of the 4 partitions, but we have seen that the message will be send to all partitions.
Do you have any idea with this is the case?

[2018-07-23 10:10] mantzas commented on #228
@lcobucci why do we do this client side? does kafka do this already?

[2018-07-23 12:19] lcobucci commented on #228
@mantzas nope, that's why I'm asking you to check that particular branch. I'll be reviewing it further this week to integrate, but will be only available in v3.x

[2018-07-23 12:44] mantzas commented on #228
@lcobucci yes, this is what's needed from our side. We integrated the current code in our codebase to make this work now. We will wait until v3 to get the library then. Thanks man

[2018-07-24 09:13] icepigss opened #229 "Why fix client_id as 'kafka-php'? client_id is used in many scenarios."
I think this is a mistake

[2018-07-24 10:08] icepigss opened #230 "timestamp is "-1""
`$config = \Kafka\ProducerConfig::getInstance();`
`$config->setMetadataRefreshIntervalMs(10000);`
`$config->setMetadataBrokerList($hostsList);`
`$config->setBrokerVersion('1.0.0');`
`$config->setRequiredAck(1);`
`$config->setClientId($clientId ?: 'kafka-php');`
`$config->setProduceInterval(500);`
`$this->_producer = new \Kafka\Producer();`

 `$ret = $this->_producer->send([ [ 'topic' => 'hello,  '

[2018-07-24 10:23] #230 closed

[2018-07-24 11:14] lcobucci commented on #229
@icepigss would you like to try to implement the possibility of changing the client-id?

[2018-07-25 11:11] lcobucci commented on #229
@icepigss I completely get your point an frustration.
What I meant is that this is an open source library driven by the needs of the people who created it. So far nobody needed this feature, thus we don't have it.

Please take this as an invite to collaborate with us in this piece of software and get your need addressed in a more appropriated timeframe for you =)

[2018-07-27 13:31] mantzas commented on #228
@demyanovs done this already based on #218. it's running in production already. thanks.

[2018-07-27 13:31] #228 closed

[2018-08-08 09:17] SolarZi opened #231 "Lost first message when start consumer"
before i start the kafka consumer ,i use kafka shell  get  kafka topic consumption progress

TOPIC  | PARTITION | CURRENT-OFFSET | LOG-END-OFFSET | LAG | CONSUMER-ID | HOST | CLIENT-ID
-------|-----------|----------------|----------------|-----|-------------|------|----------
test |  0        | 212            | 213            | 1   | -           | -    |  -

then i start the kafka consumer,i got t

[2018-08-12 13:59] HamoonDBA opened #232 "sasl kerberos"
Hello,
We use Apache Kafka 1.0.0.

Last week we launched Kerberos for our Apache Kafka server.

Everything is good and we can connect to Kafka with Python confluent kafka and setting sasl.kerberos property.

But when I set these configs for connecting to Kafka with kafka-php I get this Error:

`PHP Fatal error:  Uncaught exception 'Kafka\Exception' with message 'Unexpected EOF while reading 4 byte

[2018-08-12 14:16] lcobucci commented on #232
@HamoonDBA could you please attach here the logs of the producer/consumer?

[2018-08-13 08:04] HamoonDBA commented on #232
@lcobucci It was only of error I got to receive.

[2018-08-13 08:35] HamoonDBA commented on #232
@lcobucci one thing.

I don't have Sasl directory in my src!

look at the picture

![sasl](https://user-images.githubusercontent.com/3939424/44021216-7cb83612-9ef9-11e8-98d8-ba45e0d8bb1f.jpg)

[2018-08-13 09:47] lcobucci commented on #232
@HamoonDBA could you please try it with the development version (master branch)?

[2018-08-14 03:13] zmisgod commented on #231
i got the same problems in tag2.0.8.0, so i fix it by myself in local repository.

The official team do not do any thing about it.....

so sad!!!!

[2018-08-14 03:37] Sevavietl commented on #231
@zmisgod, have you considered creating a PR?

[2018-08-14 03:53] zmisgod commented on #231
@Sevavietl yes ,i try to pull request for tag v2.0.8.0, but ......

![image](https://user-images.githubusercontent.com/5730193/44070832-9c4960ae-9fb8-11e8-83b0-277da90bea27.png)

[2018-08-15 08:38] SolarZi commented on #231
@zmisgod that is good,thank u for your kindness. Finally，i have to use rdkafka

[2018-08-15 10:37] HamoonDBA commented on #232
Thanks.

I found this file in the dev-master branch.

But I have another problem.

I don't find any method to set sasl.kerberos.service.name

[2018-08-15 13:43] HamoonDBA commented on #232
@lcobucci I got this Error when I set Sasls Config:

`PHP Fatal error:  Uncaught Kafka\Exception\ConnectionException: It was not possible to establish a connection for metadata with the brokers "kafka2.dev:9094" in /home/kafka/vendor/nmred/kafka-php/src/Exception/ConnectionException.php:13
Stack trace:
#0 /home/kafka/vendor/nmred/kafka-php/src/Producer/SyncProcess.php(146): Kafka\Exception\Connect

[2018-08-15 13:56] lcobucci commented on #232
@HamoonDBA I'm not 100% confident about my skills regarding SASL configuration in Kafka, could you share the config you're using on the broker so that we can try to reproduce this issue together using a docker container and add a functional test to the repository?

[2018-08-17 05:18] HamoonDBA commented on #232
@lcobucci The error related to krb5 extension. I installed php-krb5 extension.

Now Sasl initSecContext returns true.

Sasl authenticate hand shake (Mechasnism Class, handShake Methdo) has No Error

But in performAuthentication method, when it wants to read 4 blocks from readBlocking method, fread function return EOF instead of 4 bytes chunk .

I'm sure It's not related to Broker or kerberos serve

[2018-08-17 05:56] HamoonDBA commented on #232
@lcobucci The error related to krb5 extension. I installed php-krb5 extension.

Now Sasl initSecContext returns true.

Sasl authenticate hand shake (Mechasnism Class, handShake Methdo) has No Error

But in performAuthentication method, when it wants to read 4 blocks from readBlocking method, $this->select return 0 and stream_get_meta_data return:

`Array
(
    [timed_out] =>
    [blocked] => 1

[2018-08-17 06:11] HamoonDBA commented on #232
@lcobucci The error related to krb5 extension. I installed php-krb5 extension.

Now Sasl initSecContext returns true.

Sasl authenticate hand shake (Mechasnism Class, handShake Methdo) has No Error

But in performAuthentication method, when it wants to read 4 blocks from readBlocking method, fread function return EOF instead of 4 bytes chunk, while writeBlocking didn't have any error, and it could

[2018-08-17 09:04] lcobucci commented on #232
@HamoonDBA I'm confident that it's related to the implementation here, unfortunately.

[2018-08-24 09:28] sharljimhtsin commented on #203
@mgckid 真相了。。。原来是阿里云那边限制了数量。。

[2018-09-07 17:49] #191 closed

[2018-09-07 17:49] #180 closed

[2018-09-07 17:52] #177 closed

[2018-09-27 07:51] wangxiqunlucky opened #236 "使用示例 consumer 的代码得到乱码消息"
你好,我的架构是使用 filebeat 采集日志传输进 kafka 中, 使用了示范中的 consumer 代码取出后出现乱码,
但是使用 bin/kafka-console-producer 来生成消息就没问题.
使用示例中 consumer 取出的乱码数据片段 :
YK╦÷µÊÐ┤ë} ¢w▀{Ñk│ÁtZ\t)#\x10ëÂ\x13«ÒñªÄƒ▒ØÁ]Uë\n
ìn\f\t·e\x1F&┴\x00MúÊé║ò¡@ÚÇ~(Ù$@b\x08P\x11\x12Ü║¯\v¹Rÿ\x00mBÒ^█Î)q\x12┐{│7ƒù$ë"█±ƒ°×▀9þ×\x7FÎÎ]º¥:▓ø¤«Ïy¢©t²Þ¬\x7FuØzK|ë[\x07Å$ÂVrÒ┘r%=^L°\té░█ç╝>┬ç\x10¸)¸\tOz.²bó7▒u<[IÅñ+Úä\x7F$▒/ø«ê╗Åµ‗┘Û┼ÌDÕp1+n\x19\t2Ô╩²┘R9\x1

[2018-09-27 08:18] wangxiqunlucky commented on #236
kafka-php v0.2.0.8

[2018-10-04 17:52] purab commented on #231
I am also facing same issue..whenever we start consumer..it always lost the first message...

[2018-10-16 15:48] SergPavlov89 opened #237 "Problems with async & sync"
Hi, we use this code for logging email delivery.

[code]

We had some troubles when using sync requests after pushing first msg our producer cyclically sends and "ddos" our consumer. Only restart help.
When we use async requests  after send first msg consumer get it normaly first time, when we send next msg consumer get first msg and stop working.

What we do wrong?

P.S.
As you see we use Kafka 1

[2018-10-17 02:54] php-cpm commented on #236
kafka 1.1.1
filebeat 6.4.0
php 7.1.11
kafka-php v0.2.0.8

我定位问题出现在
filebeat传输给 kafka 的时候默认配置compression: gzip 所以数据是压缩的，但是 php 的 gzdecode 还原出来的数据仍有乱码，如果 filebeat 收集发给 kafka 时设置 compression: none 就没有问题。

kafka-php 中 nmred/kafka-php/src/Kafka/Protocol/Protocol.php 方法 decodeString($data, $bytes, $compression = self::COMPRESSION_NONE)

第三个参数可以根据压缩类型处理字符串，但是现在项目中都没有用到。

陷入困境。

[2018-10-17 03:00] php-cpm commented on #118
问题仍然存在

[2018-10-17 03:11] php-cpm commented on #139
this lib needs a lot of work to do to move on.

[2018-10-17 03:38] php-cpm commented on #236
nmred/kafka-php 更新到 dev-master 似乎解决了，继续研究中。

[2018-10-20 12:57] dawood commented on #205
@SunnnyGohil can you please tell me how did you solve this issue?

[2018-10-22 08:43] zhangdang254 commented on #219
解决了吗  兄弟

[2018-10-23 03:30] fanyoujian opened #238 "错误码 1000 什么问题啊？"

[2018-10-23 03:33] fanyoujian commented on #221
How to solve this problem?  code 1000

[2018-10-23 03:35] fanyoujian opened #239 "Class 'App\Services\StdoutHandler' not found"
Class 'App\Services\StdoutHandler' not found? how to solve this problem?

[2018-10-23 07:33] LaravelChen opened #240 "消费者中进行生产，由于单例模式出现kafka挂掉"
消费者中进行生产，由于单例模式出现kafka挂掉现象，你这边怎么解决 ！

[2018-10-25 02:43] php-cpm commented on #236
我临时的解决方案是 filebeat 既然是 json
我就手动 gzdecode 之后用 `{` 截取后面正常的数据然后做处理
我后来改用 dev-master 版本似乎可以识别是否压缩并返回正常数据，但引入了新问题，取不到消费的偏移量，每次消费完以后又重复消费了

[2018-11-06 02:31] burningice529 commented on #219
作者在ConsumeConfig把maxBytes写死了65536。修改一下，或者继承一下，实现set方法即可。已提交修复等作者处理
[code]

[2018-11-07 03:39] rebornishard opened #244 "Package satooshi/php-coveralls is abandoned, you should avoid using it. Use php-coveralls/php-coveralls instead."
Package satooshi/php-coveralls is abandoned, you should avoid using it. Use php-coveralls/php-coveralls instead.

ref :
https://packagist.org/packages/satooshi/php-coveralls
https://packagist.org/packages/php-coveralls/php-coveralls

thanks

[2018-11-09 03:19] YumeMichi commented on #239
[code]

[2018-11-13 14:36] djklim87 commented on #205
I has this problem too. And have no idea how i can solve it

[2018-11-13 15:14] Sevavietl commented on #205
@dawood @djklim87 it was solved in aforementioned [PR](https://github.com/weiboad/kafka-php/pull/212), but it never merged.

[2018-11-14 04:01] dawood commented on #205
@Sevavietl yes i saw that, bad that PR did not get merged.

@djklim87 I was able to use producer from consumer using low level api provided. look at https://github.com/weiboad/kafka-php/blob/master/example/protocol/Produce.php

so, you need to use low level api which is used internally anyways to communicate. Let me know if you need more help.

[2018-11-14 10:01] Lily-Song commented on #238
同问

[2018-11-14 10:44] christianok commented on #238
同问

[2018-11-18 14:17] roverliang commented on #221
this problem is you not create the topic on your server。you can try
[code]
https://kafka.apache.org/quickstart

[2018-11-22 07:06] hanwenbo commented on #221
@roverliang  not useful

[2018-11-22 14:43] roverliang commented on #221
I think your topic name is not test，maybe you can create you topic name in the command line;

my answer is tested pass, the other reason , this php libs is not have auto create topics ability.

[2018-11-30 02:14] Hutao-Final-error commented on #238
+1

[2018-11-30 06:19] superbogy commented on #118
+1

[2018-12-10 06:59] Hutao-Final-error opened #245 "文档是不是该更新了"
文档是不是该更新了

[2018-12-13 21:51] leocavalcante opened #246 "Enable/disable verify_peer_name"
Verify peer isn't enough, I had to add `verify_peer_name => false` to SSL configs.
Hope to submit a PR very soon.

[2018-12-19 03:20] ihipop opened #248 "内置的基于类静态属性单例模式应该用Di实现"
Swoole现在支持使用php sock的的调用支持一键协程改造，但是协程之间不能交替读写同一个类的某个无协程隔离设计的静态属性（或者全局变量）， 否则会出现各种意外情况，现在内置的单例用的都是类的静态属性， every where，导致改造下手困难。
如果用Di现，改造起来会简单很多，协程池内对客户端的维护变成对Di容器的维护，可以很快就改造好协程支持。

[2018-12-19 07:22] ihipop commented on #248
自己改了一版基于pimple的，测试无误就提PR

[2018-12-19 08:42] ihipop commented on #240
强制单例确实蛋疼，我自己刚Fork了一个，基于pimple的di写的，应该可以满足你的要求。有兴趣的话 可以来一起开发，最终目的还是希望能合并到楼主的这个上游上来
https://github.com/ihipop/kafka-php-di
我还在整理代码 这周末做一次提交

[2019-02-03 04:35] lesliezjm opened #250 "CMD都可以互相发送，但是用kafka-php扩展后报Connection refused"
{
message: "Error: fsockopen(): unable to connect to 127.0.0.1:9092 (Connection refused)",
file: "/services/www/backend/esapi/core/vendor/nmred/kafka-php/src/Kafka/Socket.php",
line: 236,
level: 2
}

[2019-02-13 07:29] Bing0514 commented on #202
解决了吗？

[2019-03-18 11:46] dillonchen001 opened #252 "sasl认证默认怎么使用"
sasl认证默认怎么使用

[2019-03-20 16:57] cenchy opened #253 "psr/log: 1.0.2 固定版本号,会与其他需要更高版本的组件产生冲突"
![image](https://user-images.githubusercontent.com/11435955/54703660-2c1e8d00-4b74-11e9-9a07-758197c3e6e4.png)
psr/log: 1.0.2 固定版本号,会与其他需要更高版本的组件产生冲突

[2019-03-21 02:46] ALTELMA opened #254 "Is it possible to clear data in topic?"
Thank you for the great library of you, but I wondering it possible to clear data in a topic?
We lost data many times after sending a message to Kafka.

We need to make sure, We did something wrong or your library can delete data in a topic.

Please suggest to me :)

[2019-03-25 03:56] jjiale commented on #253
遇到相同的问题psr-4版本1.1x，需求是1.0.2。起冲突

[2019-03-25 09:10] songkaiha commented on #135
Also have this problem，has solution?

[2019-03-26 08:21] songkaiha opened #255 "When I restart the consumer script, I always lose a piece of data"
When I restart the consumer script, I always lose a piece of data。

[2019-04-01 16:01] metaclassing commented on #255
I am seeing the same behavior. Also is there a way to control auto.commit for my consumer? Or reset my offset to retrieve from a specific point?

[2019-04-02 08:42] bluetu opened #256 "[v0.2.0.8]Single request producer produces the same topic"
![image](https://user-images.githubusercontent.com/11599308/55388547-117de800-5566-11e9-8305-80916803e53c.png)
In Process.php, I think use \Kafka\Producer\State::getInstance(),if i use new is ok ?

[2019-04-05 11:56] v1xingyue opened #257 "golang"

[2019-04-12 09:37] superli90 opened #258 "同步调用返回的offset值好像不对"
我使用了同步调用的方式，返回的offset全是22，请问是哪里用错了吗？
[code]
![image](https://user-images.githubusercontent.com/9112629/56027930-9bd60100-5d49-11e9-9fe5-a867318f51be.png)

[2019-04-13 11:32] laiason opened #260 "在swoole中，作为常驻进程，如何使用该扩展中呢？"
最近使用php swoole做项目，启动一个常驻进程，需要把接口日志发送到kafka，问题如下：
1、在github上的示例，异步和同步的生成者方式每次都是new一个生成者。那么在常驻进程中，怎么实现一个生产者连接池，不需要每次都是new一个生成者。
2、使用异步生成者方式进行测试，发现每次会发送多次数据到kafka，这个是怎么回事呢？
3、使用同步方式，把kafka生产者赋给一个类属性，这样不需要每次都去new一个生产者，但是发现会报如下的错误：
Fatal error: Uncaught Kafka\Exception\Socket: After 4 attempts could not write 444 bytes to stream, completed writing only 0 bytes in kafka/nmred/kafka-php/src/Kafka/SocketS

[2019-04-19 10:46] lragon commented on #260
[code]

我也遇到这个问题，刚开始很好，但是空闲一段时间后，下一次访问就会报错，并且导致Worker退出，我猜想可能是Client丢失了连接

[code]

[2019-04-20 01:31] laiason commented on #260
我没有使用这个库了，改用https://github.com/arnaud-lb/php-rdkafka，没有出现这样的问题了，很稳定。

[2019-04-20 01:53] lragon commented on #260
我试过php-rdkafka，像我上面那样写，多个请求共享一个连接，Kafka收不到数据，你是怎么解决共享连接的问题？

[2019-04-21 02:28] laiason commented on #260
下面这个是我现在使用的：
<?php
/**
 * kafka类
 */
class kafka{
    private $producer = null;               // 生产者
    private $partition = 0;
    private $topic_conf = null;
    private $topic_obj = null;

    public function __construct($topic, $broker_list){
        if (empty($topic)) {
            throw new Exception('topic为空');
        }
        if (empty($broker_list)) {
            throw new Exception('b

[2019-04-21 03:23] lragon commented on #260
@laiason 感谢，我的方法是直接放在server上，同步阻塞的方式投递消息，我觉得使用同步方式投递消息是可以接受的，kafka本来就是一个队列系统，投递消息的代价很小，没有必要把投递消息的过程放到另一个进程里

[code]

[2019-04-21 05:47] hhxsv5 commented on #260
- 建议每个`Worker`共享一个`Kafka 客户端`，这样即便其中某个客户端`连接`挂了，不会影响其他`Worker`发送数据。
- 将`Kafka的调用`放在`end()`之后，这样不会拖慢正常Http响应，类似于`FPM`的[fastcgi_finish_request](https://www.php.net/manual/zh/function.fastcgi-finish-request.php)。

[code]

[2019-04-22 14:43] weizewei opened #262 "kafka-php 消费者队列可以用来实现流式计算吗?"

[2019-04-30 20:13] #246 closed

[2019-05-09 05:48] im55cc commented on #253
我也遇到这个问题，想问一下，怎么解决的呢？

[2019-05-09 05:57] jjiale commented on #253
用扩展，不用这个组件了

[2019-05-11 02:54] jeevi-cao opened #264 ""lcobucci/clock" 这个包需要php 7.2"
"lcobucci/clock": "^1.0",  这个包最新版都需要 php 7.2了  作者用的不太严谨  我在7.1的环境上安装不了

[2019-05-16 07:10] GHsyf commented on #238
但是查看了  有主题

[2019-05-27 13:57] jeevi-cao opened #265 "CommonSocket的请求接收超时时间需要值大一点"
protected $sendTimeoutSec = 0;
    /**
     * Send timeout in microseconds.
     *
     * @var int
     */
    protected $sendTimeoutUsec = 100000;
    /**
     * Recv timeout in seconds
     *
     * @var int
     */
    protected $recvTimeoutSec = 0;
    /**
     * Recv timeout in microseconds
     *
     * @var int
     */
    protected $recvTimeoutUsec = 750000;

这几个值应该默认设置高点 否着容易报  Could not

[2019-05-28 02:33] kirachen1991 commented on #260
rdkafka的包太大了，打包docker的话要多出几百M

[2019-05-28 02:34] kirachen1991 opened #266 "请问这个跟swoole怎么结合使用？"
go( function() use ( &$consumer, &$messages ){
	$consumer->start( function( $topic, $part, $message ) use ( &$messages ){
                // 完全不会收到任何的message
		if( isset( $messages[ $topic ] ) ){
			$messages[ $topic ][]		=	$message;
		}else{
			Log::error([
				$topic, $part, $message
			]);
		}
	});
});

[2019-05-30 03:09] unverified-contact opened #267 "SASL_SSL connection without using SSL Client Certificate Auth"
I am trying to be able to establish a connection to a broker while using SASL_SSL *without* using SSL Client Certificate Auth.

Firstly, I'll explain that I'm new to Kafka so I have tried to be as absolutely detailed as possible here so there should be little confusion by the end of this.

This would be connection to my broker which would work *without* supplying this information in the configurat

[2019-06-12 03:59] beanbest opened #268 "I am trying to install in laravel 5.8 but its showing psr/log error and not supporting latest psr/log package."
[code]

[2019-06-13 07:27] CalmBo opened #270 "Start sync metadata request PHP Fatal error: Uncaught Kafka\Exception: Not has broker can connection `metadataBrokerList` in /Users/crotez/power/app/common/packages/vendor/nmred/kafka-php/src/Kafka/Consumer/Process.php:252"
Start sync metadata request
PHP Fatal error:  Uncaught Kafka\Exception: Not has broker can connection `metadataBrokerList` in /Users/crotez/power/app/common/packages/vendor/nmred/kafka-php/src/Kafka/Consumer/Process.php:252

[2019-06-13 07:32] #270 closed

[2019-06-17 11:27] doranych commented on #268
use dev-master it helped me

[2019-07-03 03:13] Kenan-Hussein commented on #268
what you did exactly ?
 I have the same problem @doranych

[2019-07-10 09:29] caiguanyang opened #271 "consumer启动时丢失消息"
**问题现象：**
consumer消费消息后停止脚步，期间producer继续发布消息，待重新启动consumer时，发现订阅到的消息少了1条。
**修复方式：**
/src/Consume/Process.php : 560 行，启动conumer脚步会进入此分支
[code]

[2019-07-10 09:33] caiguanyang opened #272 "代码库还继续维护吗？能否发布到composer中"
代码库能否发布到composer中供大家使用呢，看packagelist中还是比较老的版本，不支持https
看master对php的最低版本要求是7.1，
我可以贡献个7.0的分支

[2019-07-15 20:14] magosis commented on #268
use the command, this got me past this issue

`composer require nmred/kafka-php:dev-master`

[2019-07-15 22:07] Kenan-Hussein commented on #268
@magosis  hi, do you have any idea how to send Json as message using nmred/kafka-php not string ?

[2019-07-24 05:55] shukyoo opened #273 "常驻进程模式生产消息，过一段时间应该是连接超时了，并没有重连机制"

[2019-07-26 02:35] iambool opened #274 "setClientId() 无效"
即使调用了setClientId()，实际消息中带的ClientId还是kafka-php，并非自定义的内容

[2019-07-27 07:31] mobility2015 opened #275 "异常"
public function failSyncGroup($errorCode)
    {
        $error = sprintf('Sync group fail, need rejoin, errorCode %d, memberId: %s', $errorCode, $memberId);
        $this->error($error);
        $this->stateConvert($errorCode);
    }

这段代码中有异常，需要增加
$assign = \Kafka\Consumer\Assignment::getInstance();
        $memberId = $assign->getMemberId();

[2019-07-27 07:33] mobility2015 opened #276 "vendor/nmred/kafka-php/src/Kafka/Consumer/State.php"
该文件：182行
case self::REQUEST_FETCH_OFFSET:
            case self::REQUEST_COMMIT_OFFSET:
                $this->callStatus[$key]['status'] = (self::STATUS_LOOP | self::STATUS_FINISH);
                break;
            case self::REQUEST_OFFSET:
            case self::REQUEST_FETCH:
                unset($this->callStatus[$key]['context'][$context]);

会出现：
$this->callStatus[$key]['context']的context

[2019-07-30 17:06] magosis commented on #268
You would need to encode the json data as a json string on the producer side and then decode the json string on the consumer side.
json object -> encoded string -> producer -> queue -> consumer -> encoded string -> json object

[2019-08-09 02:42] cwl168 opened #277 "消费取不到数据"
Start sync metadata request
Start sync metadata request params:["sale-stat"]
Start Request ClientId: kafka-php ApiKey: MetadataRequest  ApiVersion: 0
Start Request ClientId: kafka-php ApiKey: GroupCoordinatorRequest  ApiVersion: 0
Start Request ClientId: kafka-php ApiKey: JoinGroupRequest  ApiVersion: 1
Join group start, params:{"group_id":"test","session_timeout":30000,"rebalance_timeout":30000,"

[2019-09-17 07:27] niedachui1 commented on #102
nmred / kafka-php 中密码认证有吗？

[2019-09-17 08:33] niedachui1 opened #281 "使用nmred / kafka-php中消费需要认证的kafka服务器会报错，有人知道怎么解决的吗？"
如题，报错：
Notice: Undefined variable: newData in /data/www/comment_monitor/server/vendor/nmred/kafka-php/src/Kafka/Socket.php on line 223

Notice: Undefined variable: newData in /data/www/comment_monitor/server/vendor/nmred/kafka-php/src/Kafka/Socket.php on line 226

[2019-09-17 08:36] niedachui1 commented on #281
@nmred 大佬

[2019-10-12 10:00] GavinZhao8 opened #282 "consumer demo error."
`PHP Fatal error:  Uncaught Kafka\Exception\Protocol: unpack failed. string(raw) length is 0 , TO N in /mnt/d/WorkSpace/Projects/kafka-demo/vendor/nmred/kafka-php/src/Kafka/Protocol/Protocol.php:285
Stack trace:
#0 /mnt/d/WorkSpace/Projects/kafka-demo/vendor/nmred/kafka-php/src/Kafka/Protocol/Protocol.php(195): Kafka\Protocol\Protocol::checkLen('N', '')
#1 /mnt/d/WorkSpace/Projects/kafka-demo/vend

[2019-10-21 10:52] djklim87 opened #283 "How to stop consumer?"
How I can stop consumer now? I getting a looping script which working all the time, but what if I need to stop that? Of course, I can write some script that will find PHP process and kill that, but it will an ugly way.

[2019-11-20 09:05] ahsar commented on #238
同问.

[2019-11-20 11:53] ahsar commented on #238
如果你使用了docker创建kafka, 并且使用了`wurstmeister/kafka`的kafka-docker容器, 那么请更改环境变量KAFKA_ADVERTISED_HOST_NAME由原来的`localhost`改为服务的名字, 并在php中使用 docker-kafka的服务名字.

[2019-11-20 11:55] ahsar commented on #221
errcode 1000 是php连接到kafka后,获取`KAFKA_ADVERTISED_HOST_NAME` kafka的主机名可能是localhost, 导致无法连接(此时PHP和kafka 不在一个主机或网段).

[2019-11-24 11:39] lijoabraham commented on #282
@GavinZhao8 you can solve the error by updating the latest to kafka.

[2019-12-03 08:03] out001a commented on #240
遇到了相同的问题

[2019-12-12 05:09] unverified-contact commented on #267
Okay, some notes regarding my findings on this and what solution I went with.

 I ended up downloading and specifying the CA Cert file from Mozilla You can find them here:

https://curl.haxx.se/ca/cacert.pem <--- this link should always be the latest one

More information on that file:
https://curl.haxx.se/docs/caextract.html

I need to **caution** as a caveat, **I'm very inexperienced with SSL.**

[2019-12-12 05:14] unverified-contact commented on #267
Okay, some notes regarding my findings on this and what solution I went with.

 I ended up downloading and specifying the CA Cert file from Mozilla You can find them here:

https://curl.haxx.se/ca/cacert.pem <--- this link should always be the latest one

More information on that file:
https://curl.haxx.se/docs/caextract.html

I need to **caution** as a caveat, **I'm very inexperienced with SSL.**

[2019-12-13 02:18] RookieGiles opened #284 "日志记录能否取消掉相关调试代码"
包内大量的调试日志能否去掉，日志的记录严重影响正常项目日志的查看

[2019-12-13 07:19] badaay opened #285 "Fatal error: Uncaught Kafka\Exception: Not has broker can connection `metadataBrokerList`"
Fatal error: Uncaught Kafka\Exception: Not has broker can connection `metadataBrokerList` in ~/Kafka/vendor/nmred/kafka-php/src/Kafka/Producer/Process.php on line 193

Kafka\Exception: Not has broker can connection `metadataBrokerList` in .~/Kafka/vendor/nmred/kafka-php/src/Kafka/Producer/Process.php on line 193

`
$config = \Kafka\ProducerConfig::getInstance();
$config->setMetadataRefreshInterval

[2019-12-16 02:13] RookieGiles opened #286 "最新master代码是否能给打个tag"
最新master代码是否能给打个tag

[2019-12-26 06:33] tanghanzxp opened #287 "unable producer to specific topic"
I use some code from Example to test send message to specific topic,

[code]

then I receive any Fatal error: Requested topic \"logTest\" does not exist. Did you forget to create it?"

I am sure this topic exists，and this image is a screenshot of kafka-manager
![企业微信截图_20191226143234](https://user-images.githubusercontent.com/10969470/71461940-9ee82300-27ec-11ea-8a1c-367f03bf4aaa.png)

[2020-01-10 09:23] reedy opened #288 "Tagging a new release"
i came here looking for a fix for the issue detailed in https://github.com/weiboad/kafka-php/issues/268

I then noticed it is over 2 years (30 Oct 2017) since v0.2.0.8 was released, including a lot of changes - https://github.com/weiboad/kafka-php/compare/v0.2.0.8...master but also there hasn't been any commits to master for nearly 2 years too...

[2020-01-13 15:23] frankhubrepo commented on #285
Could you solve this issue? I'm having the same problem

[2020-01-22 03:46] miaoyijin commented on #238
1： 必须要先用命令行创建主题
2：用localhost

[2020-01-22 04:37] tezhm commented on #283
+1

[2020-01-22 04:53] tezhm commented on #283
Found that internally the consumer is using `Amp\Reactor` which is generated as a singleton via `Amp\reactor()` method. This provides a couple of options:

* Schedule a callback to `->stop()` the reactor via `reactor()->once(...)`, `reactor()->repeat(...)`, or `reactor()->immediately(...)`
* In the consumer callback, call `reactor()->stop()`
 * Main downside is that you have to wait for a message

[2020-01-22 05:51] tezhm opened #289 "Problem using producer and consumer in same instance"
`Kafka\ConsumerConfig` and `Kafka\ProducerConfig` access same static variable:

![image](https://user-images.githubusercontent.com/6971400/72868615-4003c400-3d2e-11ea-9231-f3ff97dbfd89.png)

![image](https://user-images.githubusercontent.com/6971400/72868637-59a50b80-3d2e-11ea-8dd9-aa9188613348.png)

![image](https://user-images.githubusercontent.com/6971400/72868651-63c70a00-3d2e-11ea-9079-40abad

[2020-01-29 18:01] ceresaconsultoria commented on #276
I also have this problem, sometimes this error happens.

[2020-02-07 19:47] medinskiy opened #290 "Producer logger error"
In the constructor of the \Kafka\Producer\SyncProcess class, the \Kafka\Producer\SyncProcess::syncMeta method is called which uses the logger, but the logger is set in the \Kafka\Producer::send method, which can only be called after creating an instance of the SyncProcess class

[2020-02-12 02:41] daoyan1 commented on #285
修改socket的连接时间即可，默认是0.1秒

[2020-02-13 21:46] bastienu commented on #268
Sorry to unearth this issue, but same issue here, and use dev-master does not solve the problem.

When I make `composer require nmred/kafka-php`, I have :
[code]

And when I make `composer require nmred/kafka-php:dev-master`, I have :
[code]

Can someone help me ?

Thanks.

[2020-02-14 04:24] Kenan-Hussein commented on #268
@bastienu  Add this to composer.json file :

[code]

Then run:
`composer update`

[2020-02-20 08:08] Qweicheng opened #293 "nmred/kafka-php": "0.1.* consumer wrong"
error: unpack failed. string(raw) length is 1 , TO N    or   unpack failed. string(raw) length is 0 , TO N
The Kafka used by the company is 0.8,so i can't update,what's wrong?

[2020-02-20 08:19] Qweicheng opened #294 "nmred/kafka-php": "0.1.* 这个版本的消费者demo,用着失败了"
报错:unpack failed. string(raw) length is 1 , TO N
如果是单分区,就没问题,如果是多分区就会报这个错,有人遇到过吗,因为公司里线上的卡夫卡版本是0.8的,所以我这边不能用最新的扩展包,只能用这个支持0.8版本的

[2020-02-27 12:56] rjhdby commented on #81
I'm using latest version but also catch this exception

[2020-02-27 13:08] parveenbadoni opened #295 "Uncaught Kafka\Exception: Not has broker can connection `metadataBrokerList`"
Getting this error while trying to subscribe data from topic. Can you please help?

[2020-02-28 11:44] parveenbadoni opened #296 "Consumer not reading messages after restart"
Following is my Consumer and Producer Script :
**Consumer Script**
$config = ConsumerConfig::getInstance();
$config->setMetadataRefreshIntervalMs(10000);
$config->setMetadataBrokerList('localhost:9092');
$config->setGroupId('test');
$config->setBrokerVersion('1.1.1');
$config->setTopics(['Request']);
$config->setOffsetReset('earliest');
$consumer = new Consumer();
$consumer->setLogger($logger);
$c

[2020-02-28 11:48] #295 closed

[2020-03-02 03:49] Alerander commented on #277
fix it now?

[2020-03-02 06:34] parveenbadoni commented on #180
What change did you make? I also want to change enable.auto.commit to false.

[2020-03-02 09:11] simPod commented on #180
Sorry, don't remember, not using this lib anymore.

[2020-03-02 09:49] parveenbadoni commented on #296
@lcobucci  Can you please help?

[2020-03-02 11:09] lcobucci commented on #296
@parveenbadoni sorry I can't :disappointed: this lib has some connection management issues that aren't that trivial to fix without big changes (IMHO). I've decided to focus on other projects then.

[2020-03-02 11:12] parveenbadoni commented on #296
Its ok @lcobucci  :)
Can you please recommend someone else who might help me in this issue

[2020-03-02 11:15] parveenbadoni commented on #255
When i restart the consumer, it does not subscribe to any message. What changes you made to subscribe messages after restart?

[2020-03-02 11:39] parveenbadoni commented on #296
Hi @nmred, Can you please guide me where i am going wrong.

[2020-03-02 11:55] parveenbadoni opened #297 "change auto commit value"
How can i change value of enable.auto.commit to false?

[2020-03-02 13:29] parveenbadoni commented on #285
It is unable to connect to server within specified time, you need to increase the time in socket.php.

[2020-03-06 09:35] songkaiha commented on #255
I solved the problem.Set it like this.
`$config->setOffsetReset('earliest');
$config->setBrokerVersion('1.0.0');
`
I guess it's the protocol version,Set it to 1.0.0,then solved the problem.

[2020-03-06 09:37] songkaiha commented on #255
Because the message has been consumed.The producer needs to keep writing so that the consumer can receive the message

[2020-03-11 03:05] lijunchen22 commented on #205
run producer into consumer,can any body solve this issue.

[2020-03-11 06:01] dawood commented on #205
@lijunchen22 refer to https://github.com/weiboad/kafka-php/blob/master/example/protocol/Produce.php

you would need to use low level api as mentioned in above file.

[2020-03-11 09:41] lijunchen22 commented on #205
@dawood I try. but it doesn't work. Can you show me your code here?

[2020-03-11 09:45] dawood commented on #205
@lijunchen22
[code]

[2020-03-11 09:56] lijunchen22 commented on #205
@dawood it work，thanks a million

[2020-03-14 21:29] reedy commented on #288
Ping @nmred :)

[2020-04-14 07:29] parveenbadoni opened #298 "Is there a way to pass header along with message?"
Hi,

I want to pass header alongwith message. I need to pass authentication token in header. Is there a way to pass header? Can someone please help?

[2020-04-15 09:42] 376685128 opened #299 "异步方式下连续多次写消息，消息会重复和丢失"
如题，我测试异步方式调用，连续写5条日志，结果有三条相同，两条丢失，用同步就不会有这个问题，请问异步方式要怎么解决

[2020-06-02 03:16] billmi opened #300 "Asynchronous mode fail!"
Sync mode = > success !
Async mode code run fail  and I can't  see err message ~!

[2020-06-02 04:01] #300 closed

[2020-06-02 04:02] billmi commented on #300
my fault !

[2020-06-18 03:10] qiuziqiqi opened #301 "最新版本，启动一个消费者后，再开启另一个后报错"
at /www/wwwroot/api.ircjx.com/vendor/nmred/kafka-php/src/Kafka/Consumer/Process.php:387
    383|
    384|         $brokerToTopics = array();
    385|         foreach ($result['partitionAssignments'] as $topic) {
    386|             foreach ($topic['partitions'] as $partId) {

    388|                 if (!isset($brokerToTopics[$brokerId])) {
    389|                     $brokerToTopics[$brokerId]

[2020-06-18 03:12] qiuziqiqi commented on #301
[2020-06-18 10:32:11] local.INFO: Kafka/Consumer/Process.php:69"2.5.0", ["code"]
[2020-06-18 10:32:14] local.INFO: Kafka/Consumer/Process.php:191{"errorCode":0,"partitionAssignments":[{"topicName":"code","partitions":[0,1]}],"version":0,"userData":""}
[2020-06-18 10:32:14] local.INFO: Kafka/Consumer/Process.php:382{"errorCode":0,"partitionAssignments":[{"topicName":"code","partitions":[0,1]}],"ver

[2020-06-18 03:33] #301 closed

[2020-06-28 06:46] l1905 commented on #253
先吧pr/log降低到1.0.2 但不知道会不会影响其他包使用

[2020-07-16 06:33] #262 closed

[2020-07-16 08:00] smister commented on #276
我也出现这个问题..好奇怪，只要Consumer下线了，再上来就至少丢失一个消息

[2020-07-16 08:02] smister commented on #271
我也出现这个问题..好奇怪，只要Consumer下线了，再上来就至少丢失一个消息

[2020-09-03 03:29] LiuShuaiaCai opened #302 "log版本限制"
laravel的5.8及以上版本psr/log的版本已经是1.13，现在kafka插件的版本较低，能升级一下，或者不限制这个版本吗

[2020-11-04 09:38] G-Bruin commented on #202
按照kafka官网得步骤，生成密钥,  pass 是密钥自己设置一个，我下面设置得是 ds1994
[code]

        $config->setSslEnable(true);
        $config->setSecurityProtocol(Config::SECURITY_PROTOCOL_SSL);
        $config->setSslEnableAuthentication(true);
        $config->setSslLocalCert('/var/www/xxx/keys/kafka/ca-cert');
        $config->setSslLocalPk('/var/www/xxx/keys/kafka/ca-key');
        $config->setSslPassphrase('ds1994');

[2020-11-04 09:39] G-Bruin commented on #202
https://github.com/weiboad/kafka-php/issues/202#issuecomment-721623323
@BingXiong1995 @YumeMichi

[2020-11-16 09:24] prateekj18 opened #303 "Latest Master Branch Code With Autoloader"
How can I install the latest code with Composer because currently I can get old code to install from Composer, which is not supported by SASL

[2020-11-19 12:42] #303 closed

[2020-11-27 10:48] cjhlai opened #304 "除了composer方式，还有其他安装的方式吗"
composer require nmred/kafka-php 的方式，会把现有的vendor的库版本全部更新了，风险太大

[2020-12-09 11:17] tomaslimasynyo opened #305 "Consumer Offset"
Hi, is there a way to set the offset to a number and not only earliest or latest?

Thanks!

[2021-05-04 11:30] lemanko commented on #305
Hi, see example/protocol/CommitOffset.php

[2021-05-24 13:34] denghuachengle commented on #99
最新版本 v0.2.0.8 ，也有这个问题，，这个问题不能在新版本解决吗？ 而且$config->setIsAsyn(false);这个参数也同样的有问题，只能为false,,为true则会重复发送第一条消息

[2021-06-01 11:17] basit-tkxel commented on #270
@CalmBo have you found any solution of your error?

[2021-06-01 12:29] basit-tkxel commented on #285
any update on this issue? I'm having this issue and unable to resolve it.

[2021-06-21 17:00] basildevasia commented on #96
Hi @nmred ,
**_SSL Support_**
Is there any support for the below? Couldn't find the functions setSslLocalCert, setSslLocalPk, setSslEnable, setSslPassphrase or setSslPeerName defined in the composer package.
The latest package i can find is "nmred/kafka-php": "v0.2.0.8"
The regular case works fine. Would be great to have the SSL support

// if use ssl connect
$config->setSslLocalCert('/home/vagran

[2021-06-29 09:27] AngeloAvv commented on #221
Hi @lvrach , did you solve the problem? I'm facing the same error code trying to send a message to an already existing topic

[2021-07-09 03:43] #225 closed

[2021-07-14 09:23] yimengyisheng commented on #299
同样遇到这样的问题

[2021-09-16 10:32] davisphper commented on #273
老哥,找到解决方案了吗?

[2021-09-20 13:53] ALTELMA opened #307 "Is still have any maintenace or update?"
I am the one who using this package, but look like it no have any release for long time ago. I really need to using SASL in this time, but dont have it on stable version.

@nmred Do you have any plan for release a new version from master branch?

If you no time for this, please allow other one to maintenace this repo. Not sure it is possible or not?

[2021-09-22 06:39] mojtabaahn commented on #268
just running `composer require nmred/kafka-php:0.2.* -W` solved this for me

[2021-11-22 03:26] fxywky opened #309 "消费者会重复消费怎么办？"
怎么设置呢

[2021-12-02 06:55] cjzyy opened #310 "是否支持自动创建topic"
如题，生产者推送数据，没有主题是无法发送的，希望将来支持

[2021-12-03 13:41] lemanko opened #311 "Can this extension work with a cluster?"
Hi! Can this extension work with a cluster?
Example: KAFKA_SERVER=20.50.50.16:9092,20.50.51.26:9092,20.50.52.40:9092

[2022-01-12 06:49] zhaoyangwu opened #312 "消费者支持主动poll 吗"
消费者支持主动poll 吗

[2022-01-19 15:19] ksvirkou-hubspot commented on #307
@nmred

[2022-03-15 09:07] nicolapaganotti1 opened #315 "How can I create topic with kafka-php programming library?"
Hi, I want create a topic with kafka-php programming library. How can I do?

If topic doesn't exist in kafka server, executing this code, it doesn't work. It doesn't insert 10 messages "test1....message." because topic isn't create.

date_default_timezone_set('PRC');
// Create the logger
$logger = new Logger('my_logger');
// Now add some handlers
$logger->pushHandler(new StreamHandler(__DIR__ . '/

[2022-04-26 10:49] sauravaggarwal opened #316 "Bulk processing"
Can we get messages in batches using this?

[2022-05-19 01:44] zhujuncheng123 commented on #309
Could not read 4 bytes from stream (not readable) 超时 然后也会消费重复数据

[2022-06-08 06:37] pravinkucha commented on #230
explicitly pass message timestamp

[2022-06-08 08:06] pravinkucha opened #317 "timestamp = -1 producer"
producer return timestamp = -1 and message insert with 01.01.1970 05:29:59 message date time...how to sync with current date-time